In [ ]:
!pip install pyspark

Collecting pyspark
  Downloading pyspark-3.5.1.tar.gz (317.0 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 317.0/317.0 MB 3.9 MB/s eta 0:00:00
  Preparing metadata (setup.py) ... done
Requirement already satisfied: py4j==0.10.9.7 in /usr/local/lib/python3.10/dist-packages (from pyspark) (0.10.9.7)
Building wheels for collected packages: pyspark
  Building wheel for pyspark (setup.py) ... done
  Created wheel for pyspark: filename=pyspark-3.5.1-py2.py3-none-any.whl size=317488491 sha256=f09642401210da2948158c4af8382bf9b6284b0da4eaabb4d3069a0d33f998d7
  Stored in directory: /root/.cache/pip/wheels/80/1d/60/2c256ed38dddce2fdd93be545214a63e02fbd8d74fb0b7f3a6
Successfully built pyspark
Installing collected packages: pyspark
Successfully installed pyspark-3.5.1

In [ ]:
from pyspark.sql import SparkSession
from pyspark.sql.functions import year, count, col
import matplotlib.pyplot as plt
from pyspark.sql.functions import to_date, date_format
import pandas as pd
import numpy as np
from scipy import stats

In [ ]:
from pyspark.sql import SparkSession
spark = SparkSession.builder.getOrCreate()
df = spark.read.format("csv").option("header", True).load("/content/AIT664-Group001-Dataset01-Connecticut-RealEstateData.csv")
print(df.dtypes)
df.printSchema()
S_df = spark.read.format("csv").option("header", True).load("/content/School_Updated(2).csv")
print(S_df.dtypes)
S_df.printSchema()
H_df = spark.read.format("csv").option("header", True).load("/content/Health(2).csv")
print(H_df.dtypes)
H_df.printSchema()
C_df = spark.read.format("csv").option("header", True).load("/content/Crime_Updated.csv")
print(C_df.dtypes)
C_df.printSchema()

[('Town', 'string'), ('Residential Type', 'string'), ('Serial Number', 'string'), ('List Year', 'string'), ('Date Recorded', 'string'), ('Address', 'string'), ('Assessed Value', 'string'), ('Sale Amount', 'string'), ('Sales Ratio', 'string'), ('Location', 'string')]
root
 |-- Town: string (nullable = true)
 |-- Residential Type: string (nullable = true)
 |-- Serial Number: string (nullable = true)
 |-- List Year: string (nullable = true)
 |-- Date Recorded: string (nullable = true)
 |-- Address: string (nullable = true)
 |-- Assessed Value: string (nullable = true)
 |-- Sale Amount: string (nullable = true)
 |-- Sales Ratio: string (nullable = true)
 |-- Location: string (nullable = true)

[('School ID', 'string'), ('District Name', 'string'), ('School Name', 'string'), ('Organization Type', 'string'), ('Organization Code', 'string'), ('Address', 'string'), ('Town', 'string'), ('Zipcode', 'string'), ('Phone', 'string'), ('State', 'string'), ('geometry', 'string'), ('Student_Open_Date', 'string'), ('Open_Year', 'string')]
root
 |-- School ID: string (nullable = true)
 |-- District Name: string (nullable = true)
 |-- School Name: string (nullable = true)
 |-- Organization Type: string (nullable = true)
 |-- Organization Code: string (nullable = true)
 |-- Address: string (nullable = true)
 |-- Town: string (nullable = true)
 |-- Zipcode: string (nullable = true)
 |-- Phone: string (nullable = true)
 |-- State: string (nullable = true)
 |-- geometry: string (nullable = true)
 |-- Student_Open_Date: string (nullable = true)
 |-- Open_Year: string (nullable = true)

[('Credential ID', 'string'), ('Name', 'string'), ('Type', 'string'), ('Business Name', 'string'), ('DBA', 'string'), ('Full Credential Code', 'string'), ('Credential', 'string'), ('Status', 'string'), ('Issue Date', 'string'), ('Effective Date', 'string'), ('Expiration Date', 'string'), ('Address', 'string'), ('City', 'string'), ('Zip Code', 'string'), ('Location', 'string'), ('Healthcare ID', 'string'), ('Issue Year', 'string'), ('Effective Year', 'string'), ('Expiration Year', 'string')]
root
 |-- Credential ID: string (nullable = true)
 |-- Name: string (nullable = true)
 |-- Type: string (nullable = true)
 |-- Business Name: string (nullable = true)
 |-- DBA: string (nullable = true)
 |-- Full Credential Code: string (nullable = true)
 |-- Credential: string (nullable = true)
 |-- Status: string (nullable = true)
 |-- Issue Date: string (nullable = true)
 |-- Effective Date: string (nullable = true)
 |-- Expiration Date: string (nullable = true)
 |-- Address: string (nullable = true)
 |-- City: string (nullable = true)
 |-- Zip Code: string (nullable = true)
 |-- Location: string (nullable = true)
 |-- Healthcare ID: string (nullable = true)
 |-- Issue Year: string (nullable = true)
 |-- Effective Year: string (nullable = true)
 |-- Expiration Year: string (nullable = true)

[('Town', 'string'), ('Year', 'string'), ('Crime Type', 'string'), ('Number of Crimes Committed', 'string'), ('Number of Crimes Committed per 100,000', 'string'), ('Crime ID', 'string'), ('State', 'string'), ('geometry', 'string')]
root
 |-- Town: string (nullable = true)
 |-- Year: string (nullable = true)
 |-- Crime Type: string (nullable = true)
 |-- Number of Crimes Committed: string (nullable = true)
 |-- Number of Crimes Committed per 100,000: string (nullable = true)
 |-- Crime ID: string (nullable = true)
 |-- State: string (nullable = true)
 |-- geometry: string (nullable = true)

In [ ]:
# Convert Year column to integer type
df = df.withColumn("List Year", df["List Year"].cast("integer"))
# Convert Date Recorded column to date format
df = df.withColumn("Date Recorded", to_date(df["Date Recorded"], "M/d/yyyy"))
df = df.withColumn("Date Recorded", date_format("Date Recorded", "MM/dd/yyyy"))
# Convert Assessed Value column to floating point number
df = df.withColumn("Assessed Value", df["Assessed Value"].cast("double"))
# Convert Sale Amount column to floating point number
df = df.withColumn("Sale Amount", df["Sale Amount"].cast("double"))
# Convert Sales Ratio column to floating point number
df = df.withColumn("Sales Ratio", df["Sales Ratio"].cast("double "))
print(df.dtypes)
df.printSchema()

[('Town', 'string'), ('Residential Type', 'string'), ('Serial Number', 'string'), ('List Year', 'int'), ('Date Recorded', 'string'), ('Address', 'string'), ('Assessed Value', 'double'), ('Sale Amount', 'double'), ('Sales Ratio', 'double'), ('Location', 'string')]
root
 |-- Town: string (nullable = true)
 |-- Residential Type: string (nullable = true)
 |-- Serial Number: string (nullable = true)
 |-- List Year: integer (nullable = true)
 |-- Date Recorded: string (nullable = true)
 |-- Address: string (nullable = true)
 |-- Assessed Value: double (nullable = true)
 |-- Sale Amount: double (nullable = true)
 |-- Sales Ratio: double (nullable = true)
 |-- Location: string (nullable = true)

In [ ]:
# Convert "Date Recorded" column to date format
df = df.withColumn("Date Recorded", to_date(df["Date Recorded"], "M/d/yyyy"))
# Print data types and schema for verification
print(df.dtypes)
df.printSchema()

[('Town', 'string'), ('Residential Type', 'string'), ('Serial Number', 'string'), ('List Year', 'int'), ('Date Recorded', 'date'), ('Address', 'string'), ('Assessed Value', 'double'), ('Sale Amount', 'double'), ('Sales Ratio', 'double'), ('Location', 'string')]
root
 |-- Town: string (nullable = true)
 |-- Residential Type: string (nullable = true)
 |-- Serial Number: string (nullable = true)
 |-- List Year: integer (nullable = true)
 |-- Date Recorded: date (nullable = true)
 |-- Address: string (nullable = true)
 |-- Assessed Value: double (nullable = true)
 |-- Sale Amount: double (nullable = true)
 |-- Sales Ratio: double (nullable = true)
 |-- Location: string (nullable = true)

In [ ]:
df = df.withColumn("Year", year(col("Date Recorded")))

In [ ]:
year_wise_sales = df.groupBy("Year").agg(count("*").alias("Total Houses Sold"))
year_wise_sales = year_wise_sales.orderBy("Year")
year_wise_sales.show()

+----+-----------------+
|Year|Total Houses Sold|
+----+-----------------+
|2001|                3|
|2003|                1|
|2004|                4|
|2005|                1|
|2006|             6182|
|2007|            20833|
|2008|             7119|
|2009|             7706|
|2010|             8193|
|2011|             6993|
|2012|             6968|
|2013|             7216|
|2014|             8142|
|2015|             9844|
|2016|             9684|
|2017|             9404|
|2018|             9100|
|2019|             9778|
|2020|            24009|
|2021|            55509|
+----+-----------------+
only showing top 20 rows

In [ ]:
years = [2010, 2011, 2012, 2013, 2014, 2015, 2016, 2017]
# Group by year and house type, then count houses for each type
df = df.filter(df['Year'].isin(years))
house_type_sales = df.groupBy("Year", "Residential Type").agg(count("*").alias("Houses Sold")).orderBy("Year")
house_type_sales_df = house_type_sales.toPandas()
desired_types = ["Condo", "Single Family", "Two Family", "Three Family", "Four Family"]
pivot_table = house_type_sales_df.pivot_table(values="Houses Sold", index="Year", columns=["Residential Type"]).reindex(columns=desired_types).reset_index()
print(pivot_table)

Residential Type  Year  Condo  Single Family  Two Family  Three Family  \
0                 2010   1441           5932         492           289
1                 2011   1219           5104         406           218
2                 2012   1145           5251         365           170
3                 2013   1187           5519         311           170
4                 2014   1376           6103         403           224
5                 2015   1640           7446         500           220
6                 2016   1677           7283         460           213
7                 2017   1630           7043         464           221

Residential Type  Four Family
0                          39
1                          46
2                          37
3                          29
4                          36
5                          38
6                          51
7                          46

In [ ]:
house_types = ["Condo", "Single Family"]
df = df[df['Residential Type'].isin(house_types)]
house_type_sales_town = df.groupBy("Town", "Residential Type").agg(count("*").alias("Houses Sold")).orderBy(["Houses Sold"])
house_type_sales_town_df = house_type_sales_town.toPandas()
house_type_sales_town_df

              Town Residential Type  Houses Sold
0           Morris            Condo            1
1          Chaplin            Condo            1
2           Goshen            Condo            1
3        Bethlehem            Condo            1
4           Weston            Condo            1
..             ...              ...          ...
306      Greenwich    Single Family          886
307  West Hartford    Single Family          931
308       Stamford    Single Family         1117
309        Norwalk    Single Family         1178
310      Waterbury    Single Family         1355

[311 rows x 3 columns]

In [ ]:
condo_df = house_type_sales_town_df[house_type_sales_town_df['Residential Type'] == 'Condo']
single_family_df = house_type_sales_town_df[house_type_sales_town_df['Residential Type'] == 'Single Family']

In [ ]:
house_type_sales_town_year = df.groupBy("Year", "Town", "Residential Type").agg(count("*").alias("Houses Sold")).orderBy(["Year","Town"])
house_type_sales_town_year_df = house_type_sales_town_year.toPandas()
house_type_sales_town_year_df

      Year        Town Residential Type  Houses Sold
0     2010     Andover    Single Family            9
1     2010     Ansonia            Condo            1
2     2010     Ansonia    Single Family           20
3     2010     Ashford    Single Family           12
4     2010     Ashford            Condo            1
...    ...         ...              ...          ...
2239  2017     Wolcott    Single Family           59
2240  2017  Woodbridge    Single Family           21
2241  2017    Woodbury            Condo           14
2242  2017    Woodbury    Single Family           31
2243  2017   Woodstock    Single Family            6

[2244 rows x 4 columns]

In [ ]:
house_types = ["Condo", "Single Family"]
pivot_table = house_type_sales_town_year_df.pivot_table(values="Houses Sold", index=["Year","Town"], columns=["Residential Type"]).reindex(columns=house_types).reset_index()
print(pivot_table)

Residential Type  Year           Town  Condo  Single Family
0                 2010        Andover    NaN            9.0
1                 2010        Ansonia    1.0           20.0
2                 2010        Ashford    1.0           12.0
3                 2010           Avon   30.0           47.0
4                 2010    Barkhamsted    NaN            7.0
...                ...            ...    ...            ...
1339              2017  Windsor Locks   12.0           32.0
1340              2017        Wolcott    5.0           59.0
1341              2017     Woodbridge    NaN           21.0
1342              2017       Woodbury   14.0           31.0
1343              2017      Woodstock    NaN            6.0

[1344 rows x 4 columns]

In [ ]:
# prompt: Using dataframe pivot_table: replace NaN with 0

pivot_table.fillna(0, inplace=True)

In [ ]:
print(pivot_table)

Residential Type  Year           Town  Condo  Single Family
0                 2010        Andover    0.0            9.0
1                 2010        Ansonia    1.0           20.0
2                 2010        Ashford    1.0           12.0
3                 2010           Avon   30.0           47.0
4                 2010    Barkhamsted    0.0            7.0
...                ...            ...    ...            ...
1339              2017  Windsor Locks   12.0           32.0
1340              2017        Wolcott    5.0           59.0
1341              2017     Woodbridge    0.0           21.0
1342              2017       Woodbury   14.0           31.0
1343              2017      Woodstock    0.0            6.0

[1344 rows x 4 columns]

In [ ]:
df.printSchema()
S_df.printSchema()

root
 |-- Town: string (nullable = true)
 |-- Residential Type: string (nullable = true)
 |-- Serial Number: string (nullable = true)
 |-- List Year: integer (nullable = true)
 |-- Date Recorded: date (nullable = true)
 |-- Address: string (nullable = true)
 |-- Assessed Value: double (nullable = true)
 |-- Sale Amount: double (nullable = true)
 |-- Sales Ratio: double (nullable = true)
 |-- Location: string (nullable = true)
 |-- Year: integer (nullable = true)

root
 |-- School ID: string (nullable = true)
 |-- District Name: string (nullable = true)
 |-- School Name: string (nullable = true)
 |-- Organization Type: string (nullable = true)
 |-- Organization Code: string (nullable = true)
 |-- Address: string (nullable = true)
 |-- Town: string (nullable = true)
 |-- Zipcode: string (nullable = true)
 |-- Phone: string (nullable = true)
 |-- State: string (nullable = true)
 |-- geometry: string (nullable = true)
 |-- Student_Open_Date: string (nullable = true)
 |-- Open_Year: string (nullable = true)

In [ ]:
# prompt: rename the column city with Town

H_df = H_df.withColumnRenamed("City", "Town")
H_df.printSchema()

root
 |-- Credential ID: string (nullable = true)
 |-- Name: string (nullable = true)
 |-- Type: string (nullable = true)
 |-- Business Name: string (nullable = true)
 |-- DBA: string (nullable = true)
 |-- Full Credential Code: string (nullable = true)
 |-- Credential: string (nullable = true)
 |-- Status: string (nullable = true)
 |-- Issue Date: string (nullable = true)
 |-- Effective Date: string (nullable = true)
 |-- Expiration Date: string (nullable = true)
 |-- Address: string (nullable = true)
 |-- Town: string (nullable = true)
 |-- Zip Code: string (nullable = true)
 |-- Location: string (nullable = true)
 |-- Healthcare ID: string (nullable = true)
 |-- Issue Year: string (nullable = true)
 |-- Effective Year: string (nullable = true)
 |-- Expiration Year: string (nullable = true)

In [ ]:
from pyspark.sql.functions import initcap

# Capitalize the first letter of each word in the "Town" column
H_df = H_df.withColumn("Town", initcap(H_df["Town"]))

# Show the DataFrame
H_df.show()

+-------------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+-----------------+----------+--------------+---------------+--------------------+--------------+--------+--------------------+-------------+----------+--------------+---------------+
|Credential ID|                Name|                Type|       Business Name|                 DBA|Full Credential Code|          Credential|           Status|Issue Date|Effective Date|Expiration Date|             Address|          Town|Zip Code|            Location|Healthcare ID|Issue Year|Effective Year|Expiration Year|
+-------------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+-----------------+----------+--------------+---------------+--------------------+--------------+--------+--------------------+-------------+----------+--------------+---------------+
|      1003908|  ATRIA LARSON PLACE|LIMITED LIABILITY...|  ATRIA LARSON PLACE|  ATRIA LARSON PLACE|        ALSA.0000161|Assisted Living S...|           ACTIVE|2011-06-22|    2023-01-04|     2025-03-31|    1450 WHITNEY AVE|        Hamden|    6517|POINT (-72.914399...|            0|      2011|          2023|           2025|
|       930911|MAEFAIR HEALTH CA...|         CORPORATION|MAEFAIR HEALTH CA...|MAEFAIR HEALTH CA...|        CCNH.002142C|Chronic & Convale...|ACTIVE IN RENEWAL|2010-01-04|    2022-01-04|     2024-03-31|       21 MAEFAIR CT|      Trumbull|    6611|POINT (-73.193932...|            1|      2010|          2022|           2024|
|      1438188|NEW LONDON SUB-AC...|LIMITED LIABILITY...|NEW LONDON SUB-AC...|NEW LONDON SUB-AC...|        CCNH.0002440|Chronic & Convale...|           ACTIVE|2017-06-30|    2023-01-04|     2025-03-31|         90 CLARK LN|     Waterford|    6385|POINT (-72.128489...|            2|      2017|          2023|           2025|
|      2246023|SEAPORT DERMATOLO...|            BUSINESS|SEAPORT DERMATOLO...|SEAPORT DERMATOLO...|        CLAB.0000961| Clinical Laboratory|           ACTIVE|2006-12-14|    2023-01-04|     2025-03-31|   34 WATER ST STE 2|        Mystic|    6355|POINT (-71.972264...|            3|      2006|          2023|           2025|
|      2251669|SAINT MARY'S HOSP...|NON-PROFIT CORPOR...|SAINT MARY'S HOSP...|SAINT MARY'S HOSP...|        CLAB.00HP249| Clinical Laboratory|ACTIVE IN RENEWAL|1999-12-31|    2022-01-04|     2024-03-31|      56 FRANKLIN ST|     Waterbury|    6706|POINT (-73.036682...|            4|      1999|          2022|           2024|
|       930936|AVERY NURSING HOM...|         CORPORATION|AVERY NURSING HOM...|AVERY NURSING HOM...|        CCRH.000750C|Chronic & Convale...|           ACTIVE|2009-01-10|    2023-01-10|     2025-09-30| 705 NEW BRITAIN AVE|      Hartford|    6106|POINT (-72.706348...|            5|      2009|          2023|           2025|
|       930655|ST. JOSEPH'S LIVI...|NON-PROFIT CORPOR...|ST. JOSEPH'S LIVI...|ST. JOSEPH'S LIVI...|        CCNH.002039C|Chronic & Convale...|ACTIVE IN RENEWAL|2008-01-04|    2022-01-04|     2024-03-31|          14 CLUB RD|       Windham|    6280|POINT (-72.187191...|            6|      2008|          2022|           2024|
|      2244604|     SMILOW - ORANGE|         CORPORATION|     SMILOW - ORANGE|     SMILOW - ORANGE|        CLAB.0000916| Clinical Laboratory|           ACTIVE|2004-06-22|    2022-01-07|     2024-06-30|240 INDIAN RIVER ...|        Orange|    6477|POINT (-73.000449...|            8|      2004|          2022|           2024|
|      1324543|VILLAGE GREEN OF ...|LIMITED LIABILITY...|VILLAGE GREEN OF ...|VILLAGE GREEN OF ...|        CCNH.0002416|Chronic & Convale...|           ACTIVE|2015-09-12|    2023-01-10|     2025-09-30|          23 FAIR ST|   Forestville|    6010|POINT (-72.902569...|           10|      2015|          2023|           2025|
|       930202|LIVEWELL CONNECTICUT|         CORPORATION|LIVEWELL CONNECTICUT|LIVEWELL CONNECTICUT|        ALSA.0000048|Assisted Living S...|ACTIVE IN RENEWAL|2008-01-01|    2022-01-01|     2023-12-31|      1261 S MAIN ST|   Plantsville|    6479|POINT (-72.894482...|           12|      2008|          2022|           2023|
|       930652|GLASTONBURY HEALT...|LIMITED LIABILITY...|GLASTONBURY HEALT...|GLASTONBURY HEALT...|        CCNH.002028C|Chronic & Convale...|ACTIVE IN RENEWAL|2009-01-07|    2021-01-07|     2023-06-30|     1175 HEBRON AVE|   Glastonbury|    6033|POINT (-72.566463...|           14|      2009|          2021|           2023|
|       930699|MANSFIELD CENTER ...|         CORPORATION|MANSFIELD CENTER ...|MANSFIELD CENTER ...|        CCNH.002132C|Chronic & Convale...|ACTIVE IN RENEWAL|2010-01-01|    2022-01-01|     2023-12-31|      100 WARREN CIR|        Storrs|    6268|POINT (-72.255458...|           15|      2010|          2022|           2023|
|      1259519|         DAVIS PLACE|LIMITED LIABILITY...|         DAVIS PLACE|         DAVIS PLACE|        CCNH.0002396|Chronic & Convale...|           ACTIVE|2014-12-18|    2022-01-10|     2024-09-30|     111 WESTCOTT RD|     Danielson|    6239|POINT (-71.873987...|           16|      2014|          2022|           2024|
|      2236237|MEDICAL ONCOLOGY ...|NON-PROFIT CORPOR...|MEDICAL ONCOLOGY ...|MEDICAL ONCOLOGY ...|        CLAB.0000326| Clinical Laboratory|ACTIVE IN RENEWAL|2006-05-22|    2022-01-07|     2024-06-30|435 LEWIS AVE STE...|       Meriden|    6451|POINT (-72.800859...|           18|      2006|          2022|           2024|
|      1361748|WATERMARK AT EAST...|LIMITED LIABILITY...|WATERMARK AT EAST...|WATERMARK AT EAST...|        ALSA.0000181|Assisted Living S...|ACTIVE IN RENEWAL|2016-06-20|    2022-01-04|     2024-03-31|       611 E HILL RD|     Southbury|    6488|POINT (-73.240493...|           19|      2016|          2022|           2024|
|      2237602|GH BENDHEIM LABOR...|NON-PROFIT CORPOR...|GH BENDHEIM LABOR...|GH BENDHEIM LABOR...|        CLAB.0000499| Clinical Laboratory|           ACTIVE|2003-09-23|    2023-01-10|     2025-09-30|77 LAFAYETTE PL S...|     Greenwich|    6830|POINT (-73.628379...|           20|      2003|          2023|           2025|
|      1392357|     EVERGREEN WOODS|LIMITED LIABILITY...|     EVERGREEN WOODS|     EVERGREEN WOODS|        ALSA.0000187|Assisted Living S...|           ACTIVE|2016-05-12|    2022-01-10|     2024-09-30|    88 NOTCH HILL RD|North Branford|    6471|POINT (-72.752247...|           21|      2016|          2022|           2024|
|       929127|  BAL EAST HAVEN LLC|LIMITED LIABILITY...|  BAL EAST HAVEN LLC|  BAL EAST HAVEN LLC|        ALSA.0000136|Assisted Living S...|           ACTIVE|2008-01-12|    2022-01-10|     2024-09-30|      111 S SHORE DR|    East Haven|    6512|POINT (-72.876790...|           22|      2008|          2022|           2024|
|       930907|CURTIS HOME ST. E...|NON-PROFIT CORPOR...|CURTIS HOME ST. E...|CURTIS HOME ST. E...|        CCNH.000541C|Chronic & Convale...|           ACTIVE|2009-01-10|    2023-01-10|     2025-09-30|        380 CROWN ST|       Meriden|    6450|POINT (-72.804866...|           23|      2009|          2023|           2025|
|       930905|  WAVENY CARE CENTER|         CORPORATION|  WAVENY CARE CENTER|  WAVENY CARE CENTER|        CCNH.000942C|Chronic & Convale...|ACTIVE IN RENEWAL|2010-01-04|    2022-01-04|     2024-03-31|           3 FARM RD|    New Canaan|    6840|POINT (-73.492368...|           25|      2010|          2022|           2024|
+-------------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+-----------------+----------+--------------+---------------+--------------------+--------------+--------+--------------------+-------------+----------+--------------+---------------+
only showing top 20 rows

In [ ]:
from pyspark.sql.functions import sum as spark_sum, avg as spark_avg
# Group the data by 'Town'
town_grouped = C_df.groupBy('Town')

# Aggregate by town and year
aggregated_data_town_year = C_df.groupBy("Town", "Year") \
    .agg(spark_sum("Number of Crimes Committed").alias("Total Crimes Committed"),
         spark_avg("Number of Crimes Committed per 100,000").alias("Average Crimes per 100,000"))

# Show the aggregated data
print("Aggregated data by town and year:")
aggregated_data_town_year.show()

Aggregated data by town and year:
+-----------+----+----------------------+--------------------------+
|       Town|Year|Total Crimes Committed|Average Crimes per 100,000|
+-----------+----+----------------------+--------------------------+
|    Chester|2012|                  54.0|        124.44545454545455|
|  Naugatuck|2010|                1997.0|         558.2181818181818|
|    Shelton|2013|                1392.0|         314.6636363636364|
|   Branford|2010|                2545.0|         768.5909090909089|
|   Coventry|2015|                 279.0|        209.27272727272728|
|  Fairfield|2012|                4009.0|         602.8818181818182|
|   Franklin|2010|                 138.0|         651.3818181818182|
|  Harwinton|2013|                 102.0|        166.34545454545457|
|Middlefield|2010|                 138.0|        284.40909090909093|
| Burlington|2013|                 129.0|        135.67272727272726|
| Burlington|2016|                  48.0|        50.690909090909095|
| Canterbury|2016|                  66.0|        121.64545454545454|
| Colchester|2010|                 555.0|         330.3818181818181|
|     Darien|2014|                 588.0|         258.4909090909091|
|East Granby|2010|                 156.0|         284.7818181818182|
|  Mansfield|2017|                 399.0|        166.29090909090908|
|     Somers|2012|                 162.0|         134.1181818181818|
|    Windham|2011|                 308.0|        417.60909090909104|
|     Berlin|2010|                1083.0|         515.0090909090909|
|     Berlin|2017|                1284.0|         608.7545454545455|
+-----------+----+----------------------+--------------------------+
only showing top 20 rows

In [ ]:
df.show()

+------------+----------------+-------------+---------+-------------+-------------------+--------------+-----------+-----------+--------------------+----+
|        Town|Residential Type|Serial Number|List Year|Date Recorded|            Address|Assessed Value|Sale Amount|Sales Ratio|            Location|Year|
+------------+----------------+-------------+---------+-------------+-------------------+--------------+-----------+-----------+--------------------+----+
|        Avon|           Condo|        90146|     2009|   2010-04-12|      3 WILLOW LANE|      125870.0|   168500.0|       0.75|POINT (-72.875838...|2010|
|     Windsor|           Condo|        90270|     2009|   2010-06-18|     91 VICTORIA ST|       52990.0|    87000.0|       0.61|POINT (-72.657879...|2010|
|  Rocky Hill|           Condo|       100183|     2010|   2011-08-11|    27 HICKORY LANE|      141540.0|   168500.0|       0.84|POINT (-73.451804...|2011|
|   Stratford|           Condo|       100354|     2010|   2011-04-29|     6 SHORELINE DR|      451500.0|   420000.0|       1.08|POINT (-73.127357...|2011|
|      Berlin|           Condo|       110102|     2011|   2012-02-10|        7 QUARRY LN|      250000.0|   351450.0|       0.71|POINT (-73.411158...|2012|
|    Branford|           Condo|       110047|     2011|   2011-11-21|      4 JERIMOTH DR|      178700.0|   215000.0|       0.83|POINT (-72.822317...|2011|
|        Avon|           Condo|       110050|     2011|   2011-12-16|  18 HERITAGE DRIVE|      101430.0|   139000.0|       0.73|POINT (-72.875445...|2011|
|Wethersfield|           Condo|        12019|     2012|   2012-10-25|       19 SPRING ST|      119400.0|   145000.0|       0.82|POINT (-72.618704...|2012|
|    Cromwell|           Condo|       130091|     2013|   2014-03-10|    8 SHAWNEE COURT|      119960.0|   188500.0|       0.64|POINT (-72.669477...|2014|
|    Cromwell|           Condo|       130184|     2013|   2014-07-24|      3 SOUTHBRIDGE|      371470.0|   562500.0|       0.66|POINT (-72.634517...|2014|
|      Monroe|           Condo|        14055|     2014|   2015-01-07|  13 MEADOWLARK CIR|      149700.0|   190000.0|       0.79|POINT (-73.254408...|2015|
|     Enfield|           Condo|       140195|     2014|   2015-02-27|        133 MEADOWS|      110230.0|   151000.0|       0.73|POINT (-72.556748...|2015|
|     Madison|           Condo|       150223|     2015|   2016-05-18|7A YANKEE GLEN ROAD|      180000.0|   207000.0|       0.87|POINT (-72.596673...|2016|
|   Stratford|           Condo|       150040|     2015|   2015-10-19|      5 HAWLEY GLEN|      109830.0|   140000.0|       0.78|POINT (-73.145721...|2015|
|  Plainville|           Condo|       150010|     2015|   2015-10-07|        18 CROWN ST|      169610.0|   245000.0|       0.69|POINT (-73.436445...|2015|
|  Plainville|           Condo|       150010|     2015|   2015-10-07|        18 CROWN ST|      169610.0|   245000.0|       0.69|POINT (-72.863367...|2015|
|  Bridgeport|           Condo|       167930|     2016|   2017-09-27|       95 LANCE CIR|      105820.0|   148000.0|       0.72|POINT (-73.232772...|2017|
|  Farmington|           Condo|        16010|     2016|   2016-10-05|     2 PARTRIDGE LA|      177280.0|   275000.0|       0.64|POINT (-72.888721...|2016|
|    Guilford|           Condo|      1600025|     2016|   2016-10-18|     7 RIVER COLONY|       93510.0|   140000.0|       0.67|POINT (-72.693737...|2016|
|     Windsor|           Condo|       160217|     2016|   2017-04-03|   116 HIGH PATH RD|       39690.0|    90000.0|       0.44|POINT (-72.652656...|2017|
+------------+----------------+-------------+---------+-------------+-------------------+--------------+-----------+-----------+--------------------+----+
only showing top 20 rows

In [ ]:
joined_df = df.join(aggregated_data_town_year, ['Town', 'Year'], 'left')

# Show the joined DataFrame
print("Joined DataFrame:")
joined_df.show()

Joined DataFrame:
+------------+----+----------------+-------------+---------+-------------+-------------------+--------------+-----------+-----------+--------------------+----------------------+--------------------------+
|        Town|Year|Residential Type|Serial Number|List Year|Date Recorded|            Address|Assessed Value|Sale Amount|Sales Ratio|            Location|Total Crimes Committed|Average Crimes per 100,000|
+------------+----+----------------+-------------+---------+-------------+-------------------+--------------+-----------+-----------+--------------------+----------------------+--------------------------+
|        Avon|2010|           Condo|        90146|     2009|   2010-04-12|      3 WILLOW LANE|      125870.0|   168500.0|       0.75|POINT (-72.875838...|                 577.0|        315.72727272727263|
|     Windsor|2010|           Condo|        90270|     2009|   2010-06-18|     91 VICTORIA ST|       52990.0|    87000.0|       0.61|POINT (-72.657879...|                1596.0|         489.6090909090908|
|  Rocky Hill|2011|           Condo|       100183|     2010|   2011-08-11|    27 HICKORY LANE|      141540.0|   168500.0|       0.84|POINT (-73.451804...|                 816.0|        392.70909090909095|
|   Stratford|2011|           Condo|       100354|     2010|   2011-04-29|     6 SHORELINE DR|      451500.0|   420000.0|       1.08|POINT (-73.127357...|                5140.0|         889.2909090909089|
|      Berlin|2012|           Condo|       110102|     2011|   2012-02-10|        7 QUARRY LN|      250000.0|   351450.0|       0.71|POINT (-73.411158...|                 995.0|         471.0181818181818|
|    Branford|2011|           Condo|       110047|     2011|   2011-11-21|      4 JERIMOTH DR|      178700.0|   215000.0|       0.83|POINT (-72.822317...|                2335.0|         703.8636363636363|
|        Avon|2011|           Condo|       110050|     2011|   2011-12-16|  18 HERITAGE DRIVE|      101430.0|   139000.0|       0.73|POINT (-72.875445...|                 543.0|        296.58181818181816|
|Wethersfield|2012|           Condo|        12019|     2012|   2012-10-25|       19 SPRING ST|      119400.0|   145000.0|       0.82|POINT (-72.618704...|                1300.0|         426.6818181818182|
|    Cromwell|2014|           Condo|       130091|     2013|   2014-03-10|    8 SHAWNEE COURT|      119960.0|   188500.0|       0.64|POINT (-72.669477...|                 939.0|         628.8636363636364|
|    Cromwell|2014|           Condo|       130184|     2013|   2014-07-24|      3 SOUTHBRIDGE|      371470.0|   562500.0|       0.66|POINT (-72.634517...|                 939.0|         628.8636363636364|
|      Monroe|2015|           Condo|        14055|     2014|   2015-01-07|  13 MEADOWLARK CIR|      149700.0|   190000.0|       0.79|POINT (-73.254408...|                 378.0|         169.4636363636364|
|     Enfield|2015|           Condo|       140195|     2014|   2015-02-27|        133 MEADOWS|      110230.0|   151000.0|       0.73|POINT (-72.556748...|                2533.0|        483.40000000000003|
|     Madison|2016|           Condo|       150223|     2015|   2016-05-18|7A YANKEE GLEN ROAD|      180000.0|   207000.0|       0.87|POINT (-72.596673...|                 252.0|        122.02727272727275|
|   Stratford|2015|           Condo|       150040|     2015|   2015-10-19|      5 HAWLEY GLEN|      109830.0|   140000.0|       0.78|POINT (-73.145721...|                3905.0|         674.2363636363638|
|  Plainville|2015|           Condo|       150010|     2015|   2015-10-07|        18 CROWN ST|      169610.0|   245000.0|       0.69|POINT (-73.436445...|                1528.0|         760.8636363636364|
|  Plainville|2015|           Condo|       150010|     2015|   2015-10-07|        18 CROWN ST|      169610.0|   245000.0|       0.69|POINT (-72.863367...|                1528.0|         760.8636363636364|
|  Bridgeport|2017|           Condo|       167930|     2016|   2017-09-27|       95 LANCE CIR|      105820.0|   148000.0|       0.72|POINT (-73.232772...|               14207.0|         879.3454545454545|
|  Farmington|2016|           Condo|        16010|     2016|   2016-10-05|     2 PARTRIDGE LA|      177280.0|   275000.0|       0.64|POINT (-72.888721...|                2019.0|         738.5727272727273|
|    Guilford|2016|           Condo|      1600025|     2016|   2016-10-18|     7 RIVER COLONY|       93510.0|   140000.0|       0.67|POINT (-72.693737...|                 624.0|         252.1909090909091|
|     Windsor|2017|           Condo|       160217|     2016|   2017-04-03|   116 HIGH PATH RD|       39690.0|    90000.0|       0.44|POINT (-72.652656...|                2457.0|         751.4818181818181|
+------------+----+----------------+-------------+---------+-------------+-------------------+--------------+-----------+-----------+--------------------+----------------------+--------------------------+
only showing top 20 rows

In [ ]:
df = joined_df
df_pandas = df.toPandas()
df_pandas

,Town,Year,Residential Type,Serial Number,List Year,Date Recorded,Address,Assessed Value,Sale Amount,Sales Ratio,Location,Total Crimes Committed,"Average Crimes per 100,000"
0,Avon,2010,Condo,90146,2009,2010-04-12,3 WILLOW LANE,125870.0,168500.0,0.75,POINT (-72.8758384 41.7696552),577.0,315.727273
1,Windsor,2010,Condo,90270,2009,2010-06-18,91 VICTORIA ST,52990.0,87000.0,0.61,POINT (-72.65787947200603 41.87221605797811),1596.0,489.609091
2,Rocky Hill,2011,Condo,100183,2010,2011-08-11,27 HICKORY LANE,141540.0,168500.0,0.84,POINT (-73.45180420689245 41.2790051414073),816.0,392.709091
3,Stratford,2011,Condo,100354,2010,2011-04-29,6 SHORELINE DR,451500.0,420000.0,1.08,POINT (-73.12735727422778 41.14845306094261),5140.0,889.290909
4,Berlin,2012,Condo,110102,2011,2012-02-10,7 QUARRY LN,250000.0,351450.0,0.71,POINT (-73.4111588 41.154743),995.0,471.018182
...,...,...,...,...,...,...,...,...,...,...,...,...,...
60991,Putnam,2017,Condo,170049,2017,2017-12-06,63 PERRY ST UNIT 107,88600.0,116700.0,0.76,POINT (-71.8961 41.91473),574.0,550.681818
60992,Westport,2017,Single Family,170022,2017,2017-10-17,6 WHEELER GATE,1124500.0,1720000.0,0.65,POINT (-73.36249 41.13179),912.0,305.872727
60993,Wolcott,2017,Single Family,1700068,2017,2017-12-27,167 LYMAN RD,223270.0,305000.0,0.73,POINT (-72.9943593 41.6020151),849.0,481.936364
60994,Watertown,2017,Single Family,17301,2017,2017-07-17,46 MT FAIR DR,207400.0,322500.0,0.64,POINT (-73.10077 41.61491),996.0,397.127273
60995,Norwich,2017,Single Family,170110,2017,2017-11-22,482 EAST MAIN ST,69700.0,80000.0,0.87,POINT (-72.06505 41.52307),2120.0,506.900000

In [ ]:
S_df.show()

+---------+--------------------+--------------------+-----------------+-----------------+--------------------+-------------+-------+------------+-----+--------------------+-----------------+---------+
|School ID|       District Name|         School Name|Organization Type|Organization Code|             Address|         Town|Zipcode|       Phone|State|            geometry|Student_Open_Date|Open_Year|
+---------+--------------------+--------------------+-----------------+-----------------+--------------------+-------------+-------+------------+-----+--------------------+-----------------+---------+
|        0|Vernon School Dis...| Skinner Road School|   Public Schools|          1461011|      90 Skinner Rd.|       Vernon|   6066|860-870-6180|   CT|POINT (-72.491502...|       1984-01-07|     1984|
|        2|Norwalk School Di...|West Rocks Middle...|   Public Schools|          1035411|  81 West Rocks Road|      Norwalk|   6851|203-899-2970|   CT|POINT (-73.416113...|       1984-01-07|     1984|
|        4|Bridgeport School...|Jettie S. Tisdale...|   Public Schools|           152211|250 Hollister Avenue|   Bridgeport|   6607|203-576-8037|   CT|POINT (-73.160234...|       1984-01-07|     1984|
|        6|Stamford School D...|Westhill High School|   Public Schools|          1356311|     125 Roxbury Rd.|     Stamford|   6902|203-977-4477|   CT|POINT (-73.565552...|       1984-01-07|     1984|
|        7|Norwalk School Di...|Concord Magnet Sc...|   Public Schools|          1030311|     21 Hunters Lane|      Norwalk|   6850|203-899-2840|   CT|POINT (-73.442092...|       1984-01-07|     1984|
|        9|Hartford School D...|Hartford PreKinde...|   Public Schools|           641311|   85 Edwards Street|     Hartford|   6120|860-695-5820|   CT|POINT (-72.682106...|       2013-01-07|     2013|
|       10|Colchester School...|Colchester Elemen...|   Public Schools|           280411|  315 Halls Hill Rd.|   Colchester|   6415|860-537-0717|   CT|POINT (-72.316312...|       2006-01-07|     2006|
|       12|Somers School Dis...|  Somers High School|   Public Schools|          1296111|  5 Vision Boulevard|       Somers|   6071|860-749-2270|   CT|POINT (-72.458666...|       1984-01-07|     1984|
|       14|Milford School Di...|J. F. Kennedy School|   Public Schools|           841911|       404 West Ave.|      Milford|   6460|203-783-3568|   CT|POINT (-73.088984...|       1984-01-07|     1984|
|       16|Hamden School Dis...|    Bear Path School|   Public Schools|           621211|         10 Kirk Rd.|       Hamden|   6514|203-407-2015|   CT|POINT (-72.927365...|       1984-01-07|     1984|
|       18|Tolland School Di...|Birch Grove Prima...|   Public Schools|          1420111|       247 Rhodes RD|      Tolland|   6084|860-870-6750|   CT|POINT (-72.334141...|       1999-01-07|     1999|
|       19|Waterbury School ...|Maloney Interdist...|   Public Schools|          1513111|   233 South Elm St.|    Waterbury|   6706|203-574-8162|   CT|POINT (-73.037693...|       1996-01-07|     1996|
|       20|Guilford School D...|Guilford Lakes Sc...|   Public Schools|           600211|       40 Maupas Rd.|     Guilford|   6437|203-453-5201|   CT|POINT (-72.688775...|       1984-01-07|     1984|
|       21|Norwalk School Di...|Brookside Element...|   Public Schools|          1030211| 382 Highland Avenue|      Norwalk|   6854|203-899-2830|   CT|POINT (-73.435601...|       1984-01-07|     1984|
|       23|Ellington School ...|Ellington Middle ...|   Public Schools|           485111|46 Middle Butcher...|    Ellington|   6029|860-896-2339|   CT|POINT (-72.459672...|       1984-01-07|     1984|
|       24|Waterbury School ...|   Bucks Hill School|   Public Schools|          1510511|  330 Bucks Hill Rd.|    Waterbury|   6704|203-574-8182|   CT|POINT (-73.028632...|       1984-01-07|     1984|
|       27|West Haven School...|Harry M. Bailey M...|   Public Schools|          1565111|      106 Morgan Ln.|   West Haven|   6516|203-937-4380|   CT|POINT (-72.978413...|       1984-01-07|     1984|
|       28|Middletown School...|       Wesley School|   Public Schools|           831411|10 Wesleyan Hills...|   Middletown|   6457|860-344-0381|   CT|POINT (-72.665725...|       1984-01-07|     1984|
|       29|East Lyme School ...|Niantic Center Sc...|   Public Schools|           450211|     7 West Main St.|      Niantic|   6357|860-739-3961|   CT|POINT (-72.203812...|       1984-01-07|     1984|
|       30|West Hartford Sch...|Charter Oak Inter...|   Public Schools|          1550511|    425 Oakwood Ave.|West Hartford|   6110|860-233-8506|   CT|POINT (-72.721963...|       1984-01-07|     1984|
+---------+--------------------+--------------------+-----------------+-----------------+--------------------+-------------+-------+------------+-----+--------------------+-----------------+---------+
only showing top 20 rows

In [ ]:
# Filter data for schools opened on or before 2017
schools_until_2017 = S_df.filter(col('Open_Year') <= '2017')

# Group by 'Town' and count the number of unique schools
schools_count_per_town = schools_until_2017.groupBy('Town').agg({'School Name': 'count'}).withColumnRenamed('count(School Name)', 'Number of Schools')

schools_count_per_town.show()

+-------------------+-----------------+
|               Town|Number of Schools|
+-------------------+-----------------+
|         Plainfield|                3|
|      Old Greenwich|                1|
|   Stafford Springs|                4|
|             Monroe|                5|
|         Brookfield|                4|
|North Grosvenordale|                3|
|           Sterling|                1|
|             Bolton|                2|
|      Windsor Locks|                4|
|            Wolcott|                5|
|         Woodbridge|                1|
|           Cromwell|                4|
|     North Franklin|                1|
|        New Milford|                5|
|           Guilford|                7|
|         Manchester|                7|
|          Thomaston|                3|
|           Dayville|                2|
|             Wilton|                4|
|          Stratford|               12|
+-------------------+-----------------+
only showing top 20 rows

In [ ]:
df = schools_count_per_town
df_pandas = schools_count_per_town.toPandas()
df_pandas

                 Town  Number of Schools
0          Plainfield                  3
1       Old Greenwich                  1
2    Stafford Springs                  4
3              Monroe                  5
4          Brookfield                  4
..                ...                ...
163           Bethany                  1
164        Unionville                  1
165           Preston                  1
166       Marlborough                  1
167            Sharon                  1

[168 rows x 2 columns]

In [ ]:
# Join 'joined_df' with 'schools_count_per_town' on the 'Town' column
joined_result = joined_df.join(schools_count_per_town, ['Town'], 'left')

# Show the result
joined_result.show()

+------------+----+----------------+-------------+---------+-------------+-------------------+--------------+-----------+-----------+--------------------+----------------------+--------------------------+-----------------+
|        Town|Year|Residential Type|Serial Number|List Year|Date Recorded|            Address|Assessed Value|Sale Amount|Sales Ratio|            Location|Total Crimes Committed|Average Crimes per 100,000|Number of Schools|
+------------+----+----------------+-------------+---------+-------------+-------------------+--------------+-----------+-----------+--------------------+----------------------+--------------------------+-----------------+
|        Avon|2010|           Condo|        90146|     2009|   2010-04-12|      3 WILLOW LANE|      125870.0|   168500.0|       0.75|POINT (-72.875838...|                 577.0|        315.72727272727263|                5|
|     Windsor|2010|           Condo|        90270|     2009|   2010-06-18|     91 VICTORIA ST|       52990.0|    87000.0|       0.61|POINT (-72.657879...|                1596.0|         489.6090909090908|                5|
|  Rocky Hill|2011|           Condo|       100183|     2010|   2011-08-11|    27 HICKORY LANE|      141540.0|   168500.0|       0.84|POINT (-73.451804...|                 816.0|        392.70909090909095|                4|
|   Stratford|2011|           Condo|       100354|     2010|   2011-04-29|     6 SHORELINE DR|      451500.0|   420000.0|       1.08|POINT (-73.127357...|                5140.0|         889.2909090909089|               12|
|      Berlin|2012|           Condo|       110102|     2011|   2012-02-10|        7 QUARRY LN|      250000.0|   351450.0|       0.71|POINT (-73.411158...|                 995.0|         471.0181818181818|                3|
|    Branford|2011|           Condo|       110047|     2011|   2011-11-21|      4 JERIMOTH DR|      178700.0|   215000.0|       0.83|POINT (-72.822317...|                2335.0|         703.8636363636363|                5|
|        Avon|2011|           Condo|       110050|     2011|   2011-12-16|  18 HERITAGE DRIVE|      101430.0|   139000.0|       0.73|POINT (-72.875445...|                 543.0|        296.58181818181816|                5|
|Wethersfield|2012|           Condo|        12019|     2012|   2012-10-25|       19 SPRING ST|      119400.0|   145000.0|       0.82|POINT (-72.618704...|                1300.0|         426.6818181818182|                7|
|    Cromwell|2014|           Condo|       130091|     2013|   2014-03-10|    8 SHAWNEE COURT|      119960.0|   188500.0|       0.64|POINT (-72.669477...|                 939.0|         628.8636363636364|                4|
|    Cromwell|2014|           Condo|       130184|     2013|   2014-07-24|      3 SOUTHBRIDGE|      371470.0|   562500.0|       0.66|POINT (-72.634517...|                 939.0|         628.8636363636364|                4|
|      Monroe|2015|           Condo|        14055|     2014|   2015-01-07|  13 MEADOWLARK CIR|      149700.0|   190000.0|       0.79|POINT (-73.254408...|                 378.0|         169.4636363636364|                5|
|     Enfield|2015|           Condo|       140195|     2014|   2015-02-27|        133 MEADOWS|      110230.0|   151000.0|       0.73|POINT (-72.556748...|                2533.0|        483.40000000000003|                8|
|     Madison|2016|           Condo|       150223|     2015|   2016-05-18|7A YANKEE GLEN ROAD|      180000.0|   207000.0|       0.87|POINT (-72.596673...|                 252.0|        122.02727272727275|                5|
|   Stratford|2015|           Condo|       150040|     2015|   2015-10-19|      5 HAWLEY GLEN|      109830.0|   140000.0|       0.78|POINT (-73.145721...|                3905.0|         674.2363636363638|               12|
|  Plainville|2015|           Condo|       150010|     2015|   2015-10-07|        18 CROWN ST|      169610.0|   245000.0|       0.69|POINT (-73.436445...|                1528.0|         760.8636363636364|                4|
|  Plainville|2015|           Condo|       150010|     2015|   2015-10-07|        18 CROWN ST|      169610.0|   245000.0|       0.69|POINT (-72.863367...|                1528.0|         760.8636363636364|                4|
|  Bridgeport|2017|           Condo|       167930|     2016|   2017-09-27|       95 LANCE CIR|      105820.0|   148000.0|       0.72|POINT (-73.232772...|               14207.0|         879.3454545454545|               29|
|  Farmington|2016|           Condo|        16010|     2016|   2016-10-05|     2 PARTRIDGE LA|      177280.0|   275000.0|       0.64|POINT (-72.888721...|                2019.0|         738.5727272727273|                5|
|    Guilford|2016|           Condo|      1600025|     2016|   2016-10-18|     7 RIVER COLONY|       93510.0|   140000.0|       0.67|POINT (-72.693737...|                 624.0|         252.1909090909091|                7|
|     Windsor|2017|           Condo|       160217|     2016|   2017-04-03|   116 HIGH PATH RD|       39690.0|    90000.0|       0.44|POINT (-72.652656...|                2457.0|         751.4818181818181|                5|
+------------+----+----------------+-------------+---------+-------------+-------------------+--------------+-----------+-----------+--------------------+----------------------+--------------------------+-----------------+
only showing top 20 rows

In [ ]:
df = joined_result
df_pandas = joined_result.toPandas()
df_pandas

,Town,Year,Residential Type,Serial Number,List Year,Date Recorded,Address,Assessed Value,Sale Amount,Sales Ratio,Location,Total Crimes Committed,"Average Crimes per 100,000",Number of Schools
0,Avon,2010,Condo,90146,2009,2010-04-12,3 WILLOW LANE,125870.0,168500.0,0.75,POINT (-72.8758384 41.7696552),577.0,315.727273,5.0
1,Windsor,2010,Condo,90270,2009,2010-06-18,91 VICTORIA ST,52990.0,87000.0,0.61,POINT (-72.65787947200603 41.87221605797811),1596.0,489.609091,5.0
2,Rocky Hill,2011,Condo,100183,2010,2011-08-11,27 HICKORY LANE,141540.0,168500.0,0.84,POINT (-73.45180420689245 41.2790051414073),816.0,392.709091,4.0
3,Stratford,2011,Condo,100354,2010,2011-04-29,6 SHORELINE DR,451500.0,420000.0,1.08,POINT (-73.12735727422778 41.14845306094261),5140.0,889.290909,12.0
4,Berlin,2012,Condo,110102,2011,2012-02-10,7 QUARRY LN,250000.0,351450.0,0.71,POINT (-73.4111588 41.154743),995.0,471.018182,3.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
60991,Putnam,2017,Condo,170049,2017,2017-12-06,63 PERRY ST UNIT 107,88600.0,116700.0,0.76,POINT (-71.8961 41.91473),574.0,550.681818,3.0
60992,Westport,2017,Single Family,170022,2017,2017-10-17,6 WHEELER GATE,1124500.0,1720000.0,0.65,POINT (-73.36249 41.13179),912.0,305.872727,7.0
60993,Wolcott,2017,Single Family,1700068,2017,2017-12-27,167 LYMAN RD,223270.0,305000.0,0.73,POINT (-72.9943593 41.6020151),849.0,481.936364,5.0
60994,Watertown,2017,Single Family,17301,2017,2017-07-17,46 MT FAIR DR,207400.0,322500.0,0.64,POINT (-73.10077 41.61491),996.0,397.127273,2.0
60995,Norwich,2017,Single Family,170110,2017,2017-11-22,482 EAST MAIN ST,69700.0,80000.0,0.87,POINT (-72.06505 41.52307),2120.0,506.900000,8.0

Warning: total number of rows (60996) exceeds max_rows (20000). Limiting to first (20000) rows.

In [ ]:
from pyspark.sql.functions import col, round

# Round the 'Average Crimes per 100,000' column to 2 decimal places
joined_result = joined_result.withColumn('Average Crimes per 100,000', round(col('Average Crimes per 100,000'), 2))

# Show the modified DataFrame
joined_result.show()

+------------+----+----------------+-------------+---------+-------------+-------------------+--------------+-----------+-----------+--------------------+----------------------+--------------------------+-----------------+
|        Town|Year|Residential Type|Serial Number|List Year|Date Recorded|            Address|Assessed Value|Sale Amount|Sales Ratio|            Location|Total Crimes Committed|Average Crimes per 100,000|Number of Schools|
+------------+----+----------------+-------------+---------+-------------+-------------------+--------------+-----------+-----------+--------------------+----------------------+--------------------------+-----------------+
|        Avon|2010|           Condo|        90146|     2009|   2010-04-12|      3 WILLOW LANE|      125870.0|   168500.0|       0.75|POINT (-72.875838...|                 577.0|                    315.73|                5|
|     Windsor|2010|           Condo|        90270|     2009|   2010-06-18|     91 VICTORIA ST|       52990.0|    87000.0|       0.61|POINT (-72.657879...|                1596.0|                    489.61|                5|
|  Rocky Hill|2011|           Condo|       100183|     2010|   2011-08-11|    27 HICKORY LANE|      141540.0|   168500.0|       0.84|POINT (-73.451804...|                 816.0|                    392.71|                4|
|   Stratford|2011|           Condo|       100354|     2010|   2011-04-29|     6 SHORELINE DR|      451500.0|   420000.0|       1.08|POINT (-73.127357...|                5140.0|                    889.29|               12|
|      Berlin|2012|           Condo|       110102|     2011|   2012-02-10|        7 QUARRY LN|      250000.0|   351450.0|       0.71|POINT (-73.411158...|                 995.0|                    471.02|                3|
|    Branford|2011|           Condo|       110047|     2011|   2011-11-21|      4 JERIMOTH DR|      178700.0|   215000.0|       0.83|POINT (-72.822317...|                2335.0|                    703.86|                5|
|        Avon|2011|           Condo|       110050|     2011|   2011-12-16|  18 HERITAGE DRIVE|      101430.0|   139000.0|       0.73|POINT (-72.875445...|                 543.0|                    296.58|                5|
|Wethersfield|2012|           Condo|        12019|     2012|   2012-10-25|       19 SPRING ST|      119400.0|   145000.0|       0.82|POINT (-72.618704...|                1300.0|                    426.68|                7|
|    Cromwell|2014|           Condo|       130091|     2013|   2014-03-10|    8 SHAWNEE COURT|      119960.0|   188500.0|       0.64|POINT (-72.669477...|                 939.0|                    628.86|                4|
|    Cromwell|2014|           Condo|       130184|     2013|   2014-07-24|      3 SOUTHBRIDGE|      371470.0|   562500.0|       0.66|POINT (-72.634517...|                 939.0|                    628.86|                4|
|      Monroe|2015|           Condo|        14055|     2014|   2015-01-07|  13 MEADOWLARK CIR|      149700.0|   190000.0|       0.79|POINT (-73.254408...|                 378.0|                    169.46|                5|
|     Enfield|2015|           Condo|       140195|     2014|   2015-02-27|        133 MEADOWS|      110230.0|   151000.0|       0.73|POINT (-72.556748...|                2533.0|                     483.4|                8|
|     Madison|2016|           Condo|       150223|     2015|   2016-05-18|7A YANKEE GLEN ROAD|      180000.0|   207000.0|       0.87|POINT (-72.596673...|                 252.0|                    122.03|                5|
|   Stratford|2015|           Condo|       150040|     2015|   2015-10-19|      5 HAWLEY GLEN|      109830.0|   140000.0|       0.78|POINT (-73.145721...|                3905.0|                    674.24|               12|
|  Plainville|2015|           Condo|       150010|     2015|   2015-10-07|        18 CROWN ST|      169610.0|   245000.0|       0.69|POINT (-73.436445...|                1528.0|                    760.86|                4|
|  Plainville|2015|           Condo|       150010|     2015|   2015-10-07|        18 CROWN ST|      169610.0|   245000.0|       0.69|POINT (-72.863367...|                1528.0|                    760.86|                4|
|  Bridgeport|2017|           Condo|       167930|     2016|   2017-09-27|       95 LANCE CIR|      105820.0|   148000.0|       0.72|POINT (-73.232772...|               14207.0|                    879.35|               29|
|  Farmington|2016|           Condo|        16010|     2016|   2016-10-05|     2 PARTRIDGE LA|      177280.0|   275000.0|       0.64|POINT (-72.888721...|                2019.0|                    738.57|                5|
|    Guilford|2016|           Condo|      1600025|     2016|   2016-10-18|     7 RIVER COLONY|       93510.0|   140000.0|       0.67|POINT (-72.693737...|                 624.0|                    252.19|                7|
|     Windsor|2017|           Condo|       160217|     2016|   2017-04-03|   116 HIGH PATH RD|       39690.0|    90000.0|       0.44|POINT (-72.652656...|                2457.0|                    751.48|                5|
+------------+----+----------------+-------------+---------+-------------+-------------------+--------------+-----------+-----------+--------------------+----------------------+--------------------------+-----------------+
only showing top 20 rows

In [ ]:
H_df.printSchema()
H_df.show()

root
 |-- Credential ID: string (nullable = true)
 |-- Name: string (nullable = true)
 |-- Type: string (nullable = true)
 |-- Business Name: string (nullable = true)
 |-- DBA: string (nullable = true)
 |-- Full Credential Code: string (nullable = true)
 |-- Credential: string (nullable = true)
 |-- Status: string (nullable = true)
 |-- Issue Date: string (nullable = true)
 |-- Effective Date: string (nullable = true)
 |-- Expiration Date: string (nullable = true)
 |-- Address: string (nullable = true)
 |-- Town: string (nullable = true)
 |-- Zip Code: string (nullable = true)
 |-- Location: string (nullable = true)
 |-- Healthcare ID: string (nullable = true)
 |-- Issue Year: string (nullable = true)
 |-- Effective Year: string (nullable = true)
 |-- Expiration Year: string (nullable = true)

+-------------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+-----------------+----------+--------------+---------------+--------------------+--------------+--------+--------------------+-------------+----------+--------------+---------------+
|Credential ID|                Name|                Type|       Business Name|                 DBA|Full Credential Code|          Credential|           Status|Issue Date|Effective Date|Expiration Date|             Address|          Town|Zip Code|            Location|Healthcare ID|Issue Year|Effective Year|Expiration Year|
+-------------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+-----------------+----------+--------------+---------------+--------------------+--------------+--------+--------------------+-------------+----------+--------------+---------------+
|      1003908|  ATRIA LARSON PLACE|LIMITED LIABILITY...|  ATRIA LARSON PLACE|  ATRIA LARSON PLACE|        ALSA.0000161|Assisted Living S...|           ACTIVE|2011-06-22|    2023-01-04|     2025-03-31|    1450 WHITNEY AVE|        Hamden|    6517|POINT (-72.914399...|            0|      2011|          2023|           2025|
|       930911|MAEFAIR HEALTH CA...|         CORPORATION|MAEFAIR HEALTH CA...|MAEFAIR HEALTH CA...|        CCNH.002142C|Chronic & Convale...|ACTIVE IN RENEWAL|2010-01-04|    2022-01-04|     2024-03-31|       21 MAEFAIR CT|      Trumbull|    6611|POINT (-73.193932...|            1|      2010|          2022|           2024|
|      1438188|NEW LONDON SUB-AC...|LIMITED LIABILITY...|NEW LONDON SUB-AC...|NEW LONDON SUB-AC...|        CCNH.0002440|Chronic & Convale...|           ACTIVE|2017-06-30|    2023-01-04|     2025-03-31|         90 CLARK LN|     Waterford|    6385|POINT (-72.128489...|            2|      2017|          2023|           2025|
|      2246023|SEAPORT DERMATOLO...|            BUSINESS|SEAPORT DERMATOLO...|SEAPORT DERMATOLO...|        CLAB.0000961| Clinical Laboratory|           ACTIVE|2006-12-14|    2023-01-04|     2025-03-31|   34 WATER ST STE 2|        Mystic|    6355|POINT (-71.972264...|            3|      2006|          2023|           2025|
|      2251669|SAINT MARY'S HOSP...|NON-PROFIT CORPOR...|SAINT MARY'S HOSP...|SAINT MARY'S HOSP...|        CLAB.00HP249| Clinical Laboratory|ACTIVE IN RENEWAL|1999-12-31|    2022-01-04|     2024-03-31|      56 FRANKLIN ST|     Waterbury|    6706|POINT (-73.036682...|            4|      1999|          2022|           2024|
|       930936|AVERY NURSING HOM...|         CORPORATION|AVERY NURSING HOM...|AVERY NURSING HOM...|        CCRH.000750C|Chronic & Convale...|           ACTIVE|2009-01-10|    2023-01-10|     2025-09-30| 705 NEW BRITAIN AVE|      Hartford|    6106|POINT (-72.706348...|            5|      2009|          2023|           2025|
|       930655|ST. JOSEPH'S LIVI...|NON-PROFIT CORPOR...|ST. JOSEPH'S LIVI...|ST. JOSEPH'S LIVI...|        CCNH.002039C|Chronic & Convale...|ACTIVE IN RENEWAL|2008-01-04|    2022-01-04|     2024-03-31|          14 CLUB RD|       Windham|    6280|POINT (-72.187191...|            6|      2008|          2022|           2024|
|      2244604|     SMILOW - ORANGE|         CORPORATION|     SMILOW - ORANGE|     SMILOW - ORANGE|        CLAB.0000916| Clinical Laboratory|           ACTIVE|2004-06-22|    2022-01-07|     2024-06-30|240 INDIAN RIVER ...|        Orange|    6477|POINT (-73.000449...|            8|      2004|          2022|           2024|
|      1324543|VILLAGE GREEN OF ...|LIMITED LIABILITY...|VILLAGE GREEN OF ...|VILLAGE GREEN OF ...|        CCNH.0002416|Chronic & Convale...|           ACTIVE|2015-09-12|    2023-01-10|     2025-09-30|          23 FAIR ST|   Forestville|    6010|POINT (-72.902569...|           10|      2015|          2023|           2025|
|       930202|LIVEWELL CONNECTICUT|         CORPORATION|LIVEWELL CONNECTICUT|LIVEWELL CONNECTICUT|        ALSA.0000048|Assisted Living S...|ACTIVE IN RENEWAL|2008-01-01|    2022-01-01|     2023-12-31|      1261 S MAIN ST|   Plantsville|    6479|POINT (-72.894482...|           12|      2008|          2022|           2023|
|       930652|GLASTONBURY HEALT...|LIMITED LIABILITY...|GLASTONBURY HEALT...|GLASTONBURY HEALT...|        CCNH.002028C|Chronic & Convale...|ACTIVE IN RENEWAL|2009-01-07|    2021-01-07|     2023-06-30|     1175 HEBRON AVE|   Glastonbury|    6033|POINT (-72.566463...|           14|      2009|          2021|           2023|
|       930699|MANSFIELD CENTER ...|         CORPORATION|MANSFIELD CENTER ...|MANSFIELD CENTER ...|        CCNH.002132C|Chronic & Convale...|ACTIVE IN RENEWAL|2010-01-01|    2022-01-01|     2023-12-31|      100 WARREN CIR|        Storrs|    6268|POINT (-72.255458...|           15|      2010|          2022|           2023|
|      1259519|         DAVIS PLACE|LIMITED LIABILITY...|         DAVIS PLACE|         DAVIS PLACE|        CCNH.0002396|Chronic & Convale...|           ACTIVE|2014-12-18|    2022-01-10|     2024-09-30|     111 WESTCOTT RD|     Danielson|    6239|POINT (-71.873987...|           16|      2014|          2022|           2024|
|      2236237|MEDICAL ONCOLOGY ...|NON-PROFIT CORPOR...|MEDICAL ONCOLOGY ...|MEDICAL ONCOLOGY ...|        CLAB.0000326| Clinical Laboratory|ACTIVE IN RENEWAL|2006-05-22|    2022-01-07|     2024-06-30|435 LEWIS AVE STE...|       Meriden|    6451|POINT (-72.800859...|           18|      2006|          2022|           2024|
|      1361748|WATERMARK AT EAST...|LIMITED LIABILITY...|WATERMARK AT EAST...|WATERMARK AT EAST...|        ALSA.0000181|Assisted Living S...|ACTIVE IN RENEWAL|2016-06-20|    2022-01-04|     2024-03-31|       611 E HILL RD|     Southbury|    6488|POINT (-73.240493...|           19|      2016|          2022|           2024|
|      2237602|GH BENDHEIM LABOR...|NON-PROFIT CORPOR...|GH BENDHEIM LABOR...|GH BENDHEIM LABOR...|        CLAB.0000499| Clinical Laboratory|           ACTIVE|2003-09-23|    2023-01-10|     2025-09-30|77 LAFAYETTE PL S...|     Greenwich|    6830|POINT (-73.628379...|           20|      2003|          2023|           2025|
|      1392357|     EVERGREEN WOODS|LIMITED LIABILITY...|     EVERGREEN WOODS|     EVERGREEN WOODS|        ALSA.0000187|Assisted Living S...|           ACTIVE|2016-05-12|    2022-01-10|     2024-09-30|    88 NOTCH HILL RD|North Branford|    6471|POINT (-72.752247...|           21|      2016|          2022|           2024|
|       929127|  BAL EAST HAVEN LLC|LIMITED LIABILITY...|  BAL EAST HAVEN LLC|  BAL EAST HAVEN LLC|        ALSA.0000136|Assisted Living S...|           ACTIVE|2008-01-12|    2022-01-10|     2024-09-30|      111 S SHORE DR|    East Haven|    6512|POINT (-72.876790...|           22|      2008|          2022|           2024|
|       930907|CURTIS HOME ST. E...|NON-PROFIT CORPOR...|CURTIS HOME ST. E...|CURTIS HOME ST. E...|        CCNH.000541C|Chronic & Convale...|           ACTIVE|2009-01-10|    2023-01-10|     2025-09-30|        380 CROWN ST|       Meriden|    6450|POINT (-72.804866...|           23|      2009|          2023|           2025|
|       930905|  WAVENY CARE CENTER|         CORPORATION|  WAVENY CARE CENTER|  WAVENY CARE CENTER|        CCNH.000942C|Chronic & Convale...|ACTIVE IN RENEWAL|2010-01-04|    2022-01-04|     2024-03-31|           3 FARM RD|    New Canaan|    6840|POINT (-73.492368...|           25|      2010|          2022|           2024|
+-------------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+-----------------+----------+--------------+---------------+--------------------+--------------+--------+--------------------+-------------+----------+--------------+---------------+
only showing top 20 rows

In [ ]:
# Filter data for facilities issued on or before 2017
facilities_until_2017 = H_df.filter(col('Issue Year') <= 2017)

# Group by 'Town' and count the number of unique facilities
facilities_count_per_town = facilities_until_2017.groupBy('Town').agg({'Credential ID': 'count'}).withColumnRenamed('count(Credential ID)', 'Number of Facilities')

facilities_count_per_town.show()

+----------------+--------------------+
|            Town|Number of Facilities|
+----------------+--------------------+
|      Plainfield|                   1|
|Stafford Springs|                   2|
|      Brookfield|                   1|
|   Windsor Locks|                   1|
|      Woodbridge|                   3|
|         Wolcott|                   1|
|        Cromwell|                   4|
|     New Milford|                   2|
|        Guilford|                   6|
|      Manchester|                   3|
|        Dayville|                   1|
|          Wilton|                   5|
|       Stratford|                   4|
|          Orange|                   2|
|       Newington|                   4|
|        Suffield|                   2|
|      Kensington|                   1|
|Vernon Rockville|                   1|
|       Fairfield|                   5|
|       Westbrook|                   1|
+----------------+--------------------+
only showing top 20 rows

In [ ]:
# Perform left join between 'joined_result' and 'facilities_count_per_town' on 'Town' column
final_result = joined_result.join(facilities_count_per_town, ['Town'], 'left')

# Show the final merged result
final_result.show()

+------------+----+----------------+-------------+---------+-------------+-------------------+--------------+-----------+-----------+--------------------+----------------------+--------------------------+-----------------+--------------------+
|        Town|Year|Residential Type|Serial Number|List Year|Date Recorded|            Address|Assessed Value|Sale Amount|Sales Ratio|            Location|Total Crimes Committed|Average Crimes per 100,000|Number of Schools|Number of Facilities|
+------------+----+----------------+-------------+---------+-------------+-------------------+--------------+-----------+-----------+--------------------+----------------------+--------------------------+-----------------+--------------------+
|        Avon|2010|           Condo|        90146|     2009|   2010-04-12|      3 WILLOW LANE|      125870.0|   168500.0|       0.75|POINT (-72.875838...|                 577.0|                    315.73|                5|                   4|
|     Windsor|2010|           Condo|        90270|     2009|   2010-06-18|     91 VICTORIA ST|       52990.0|    87000.0|       0.61|POINT (-72.657879...|                1596.0|                    489.61|                5|                   2|
|  Rocky Hill|2011|           Condo|       100183|     2010|   2011-08-11|    27 HICKORY LANE|      141540.0|   168500.0|       0.84|POINT (-73.451804...|                 816.0|                    392.71|                4|                   5|
|   Stratford|2011|           Condo|       100354|     2010|   2011-04-29|     6 SHORELINE DR|      451500.0|   420000.0|       1.08|POINT (-73.127357...|                5140.0|                    889.29|               12|                   4|
|      Berlin|2012|           Condo|       110102|     2011|   2012-02-10|        7 QUARRY LN|      250000.0|   351450.0|       0.71|POINT (-73.411158...|                 995.0|                    471.02|                3|                NULL|
|    Branford|2011|           Condo|       110047|     2011|   2011-11-21|      4 JERIMOTH DR|      178700.0|   215000.0|       0.83|POINT (-72.822317...|                2335.0|                    703.86|                5|                   4|
|        Avon|2011|           Condo|       110050|     2011|   2011-12-16|  18 HERITAGE DRIVE|      101430.0|   139000.0|       0.73|POINT (-72.875445...|                 543.0|                    296.58|                5|                   4|
|Wethersfield|2012|           Condo|        12019|     2012|   2012-10-25|       19 SPRING ST|      119400.0|   145000.0|       0.82|POINT (-72.618704...|                1300.0|                    426.68|                7|                NULL|
|    Cromwell|2014|           Condo|       130091|     2013|   2014-03-10|    8 SHAWNEE COURT|      119960.0|   188500.0|       0.64|POINT (-72.669477...|                 939.0|                    628.86|                4|                   4|
|    Cromwell|2014|           Condo|       130184|     2013|   2014-07-24|      3 SOUTHBRIDGE|      371470.0|   562500.0|       0.66|POINT (-72.634517...|                 939.0|                    628.86|                4|                   4|
|      Monroe|2015|           Condo|        14055|     2014|   2015-01-07|  13 MEADOWLARK CIR|      149700.0|   190000.0|       0.79|POINT (-73.254408...|                 378.0|                    169.46|                5|                NULL|
|     Enfield|2015|           Condo|       140195|     2014|   2015-02-27|        133 MEADOWS|      110230.0|   151000.0|       0.73|POINT (-72.556748...|                2533.0|                     483.4|                8|                   2|
|     Madison|2016|           Condo|       150223|     2015|   2016-05-18|7A YANKEE GLEN ROAD|      180000.0|   207000.0|       0.87|POINT (-72.596673...|                 252.0|                    122.03|                5|                NULL|
|   Stratford|2015|           Condo|       150040|     2015|   2015-10-19|      5 HAWLEY GLEN|      109830.0|   140000.0|       0.78|POINT (-73.145721...|                3905.0|                    674.24|               12|                   4|
|  Plainville|2015|           Condo|       150010|     2015|   2015-10-07|        18 CROWN ST|      169610.0|   245000.0|       0.69|POINT (-73.436445...|                1528.0|                    760.86|                4|                   2|
|  Plainville|2015|           Condo|       150010|     2015|   2015-10-07|        18 CROWN ST|      169610.0|   245000.0|       0.69|POINT (-72.863367...|                1528.0|                    760.86|                4|                   2|
|  Bridgeport|2017|           Condo|       167930|     2016|   2017-09-27|       95 LANCE CIR|      105820.0|   148000.0|       0.72|POINT (-73.232772...|               14207.0|                    879.35|               29|                   8|
|  Farmington|2016|           Condo|        16010|     2016|   2016-10-05|     2 PARTRIDGE LA|      177280.0|   275000.0|       0.64|POINT (-72.888721...|                2019.0|                    738.57|                5|                   8|
|    Guilford|2016|           Condo|      1600025|     2016|   2016-10-18|     7 RIVER COLONY|       93510.0|   140000.0|       0.67|POINT (-72.693737...|                 624.0|                    252.19|                7|                   6|
|     Windsor|2017|           Condo|       160217|     2016|   2017-04-03|   116 HIGH PATH RD|       39690.0|    90000.0|       0.44|POINT (-72.652656...|                2457.0|                    751.48|                5|                   2|
+------------+----+----------------+-------------+---------+-------------+-------------------+--------------+-----------+-----------+--------------------+----------------------+--------------------------+-----------------+--------------------+
only showing top 20 rows

In [ ]:
# Rename the 'Number of Facilities' column to 'Number of Healthcare facilities'
final_result = final_result.withColumnRenamed("Number of Facilities", "Number of Healthcare facilities")

# Show the final result
final_result.show()

+------------+----+----------------+-------------+---------+-------------+-------------------+--------------+-----------+-----------+--------------------+----------------------+--------------------------+-----------------+-------------------------------+
|        Town|Year|Residential Type|Serial Number|List Year|Date Recorded|            Address|Assessed Value|Sale Amount|Sales Ratio|            Location|Total Crimes Committed|Average Crimes per 100,000|Number of Schools|Number of Healthcare facilities|
+------------+----+----------------+-------------+---------+-------------+-------------------+--------------+-----------+-----------+--------------------+----------------------+--------------------------+-----------------+-------------------------------+
|        Avon|2010|           Condo|        90146|     2009|   2010-04-12|      3 WILLOW LANE|      125870.0|   168500.0|       0.75|POINT (-72.875838...|                 577.0|                    315.73|                5|                              4|
|     Windsor|2010|           Condo|        90270|     2009|   2010-06-18|     91 VICTORIA ST|       52990.0|    87000.0|       0.61|POINT (-72.657879...|                1596.0|                    489.61|                5|                              2|
|  Rocky Hill|2011|           Condo|       100183|     2010|   2011-08-11|    27 HICKORY LANE|      141540.0|   168500.0|       0.84|POINT (-73.451804...|                 816.0|                    392.71|                4|                              5|
|   Stratford|2011|           Condo|       100354|     2010|   2011-04-29|     6 SHORELINE DR|      451500.0|   420000.0|       1.08|POINT (-73.127357...|                5140.0|                    889.29|               12|                              4|
|      Berlin|2012|           Condo|       110102|     2011|   2012-02-10|        7 QUARRY LN|      250000.0|   351450.0|       0.71|POINT (-73.411158...|                 995.0|                    471.02|                3|                           NULL|
|    Branford|2011|           Condo|       110047|     2011|   2011-11-21|      4 JERIMOTH DR|      178700.0|   215000.0|       0.83|POINT (-72.822317...|                2335.0|                    703.86|                5|                              4|
|        Avon|2011|           Condo|       110050|     2011|   2011-12-16|  18 HERITAGE DRIVE|      101430.0|   139000.0|       0.73|POINT (-72.875445...|                 543.0|                    296.58|                5|                              4|
|Wethersfield|2012|           Condo|        12019|     2012|   2012-10-25|       19 SPRING ST|      119400.0|   145000.0|       0.82|POINT (-72.618704...|                1300.0|                    426.68|                7|                           NULL|
|    Cromwell|2014|           Condo|       130091|     2013|   2014-03-10|    8 SHAWNEE COURT|      119960.0|   188500.0|       0.64|POINT (-72.669477...|                 939.0|                    628.86|                4|                              4|
|    Cromwell|2014|           Condo|       130184|     2013|   2014-07-24|      3 SOUTHBRIDGE|      371470.0|   562500.0|       0.66|POINT (-72.634517...|                 939.0|                    628.86|                4|                              4|
|      Monroe|2015|           Condo|        14055|     2014|   2015-01-07|  13 MEADOWLARK CIR|      149700.0|   190000.0|       0.79|POINT (-73.254408...|                 378.0|                    169.46|                5|                           NULL|
|     Enfield|2015|           Condo|       140195|     2014|   2015-02-27|        133 MEADOWS|      110230.0|   151000.0|       0.73|POINT (-72.556748...|                2533.0|                     483.4|                8|                              2|
|     Madison|2016|           Condo|       150223|     2015|   2016-05-18|7A YANKEE GLEN ROAD|      180000.0|   207000.0|       0.87|POINT (-72.596673...|                 252.0|                    122.03|                5|                           NULL|
|   Stratford|2015|           Condo|       150040|     2015|   2015-10-19|      5 HAWLEY GLEN|      109830.0|   140000.0|       0.78|POINT (-73.145721...|                3905.0|                    674.24|               12|                              4|
|  Plainville|2015|           Condo|       150010|     2015|   2015-10-07|        18 CROWN ST|      169610.0|   245000.0|       0.69|POINT (-73.436445...|                1528.0|                    760.86|                4|                              2|
|  Plainville|2015|           Condo|       150010|     2015|   2015-10-07|        18 CROWN ST|      169610.0|   245000.0|       0.69|POINT (-72.863367...|                1528.0|                    760.86|                4|                              2|
|  Bridgeport|2017|           Condo|       167930|     2016|   2017-09-27|       95 LANCE CIR|      105820.0|   148000.0|       0.72|POINT (-73.232772...|               14207.0|                    879.35|               29|                              8|
|  Farmington|2016|           Condo|        16010|     2016|   2016-10-05|     2 PARTRIDGE LA|      177280.0|   275000.0|       0.64|POINT (-72.888721...|                2019.0|                    738.57|                5|                              8|
|    Guilford|2016|           Condo|      1600025|     2016|   2016-10-18|     7 RIVER COLONY|       93510.0|   140000.0|       0.67|POINT (-72.693737...|                 624.0|                    252.19|                7|                              6|
|     Windsor|2017|           Condo|       160217|     2016|   2017-04-03|   116 HIGH PATH RD|       39690.0|    90000.0|       0.44|POINT (-72.652656...|                2457.0|                    751.48|                5|                              2|
+------------+----+----------------+-------------+---------+-------------+-------------------+--------------+-----------+-----------+--------------------+----------------------+--------------------------+-----------------+-------------------------------+
only showing top 20 rows

In [35]:
# Iterate over each column in the final_result DataFrame
for col in final_result.columns:
    # Count the null values and empty strings in the column
    null_count = final_result.filter(final_result[col].isNull() | (final_result[col] == "")).count()
    # Print the column name and corresponding null count
    print(f"Column: {col}\t Null Count: {null_count}")

# Count the total number of rows in the final_result DataFrame
total_count = final_result.count()
# Print the total count of rows
print(f"Total Count: {total_count}")

Column: Town	 Null Count: 0
Column: Year	 Null Count: 0
Column: Residential Type	 Null Count: 0
Column: Serial Number	 Null Count: 0
Column: List Year	 Null Count: 0
Column: Date Recorded	 Null Count: 0
Column: Address	 Null Count: 0
Column: Assessed Value	 Null Count: 0
Column: Sale Amount	 Null Count: 0
Column: Sales Ratio	 Null Count: 6
Column: Location	 Null Count: 4
Column: Total Crimes Committed	 Null Count: 0
Column: Average Crimes per 100,000	 Null Count: 0
Column: Number of Schools	 Null Count: 6010
Column: Number of Healthcare facilities	 Null Count: 13557
Total Count: 60996

In [36]:
# Replace null values in "Number of Schools" and "Number of Healthcare Facilities" columns with zero
final_result = final_result.fillna({'Number of Schools': 0, 'Number of Healthcare facilities': 0})

# Display the updated DataFrame
final_result.show()

+------------+----+----------------+-------------+---------+-------------+-------------------+--------------+-----------+-----------+--------------------+----------------------+--------------------------+-----------------+-------------------------------+
|        Town|Year|Residential Type|Serial Number|List Year|Date Recorded|            Address|Assessed Value|Sale Amount|Sales Ratio|            Location|Total Crimes Committed|Average Crimes per 100,000|Number of Schools|Number of Healthcare facilities|
+------------+----+----------------+-------------+---------+-------------+-------------------+--------------+-----------+-----------+--------------------+----------------------+--------------------------+-----------------+-------------------------------+
|        Avon|2010|           Condo|        90146|     2009|   2010-04-12|      3 WILLOW LANE|      125870.0|   168500.0|       0.75|POINT (-72.875838...|                 577.0|                    315.73|                5|                              4|
|     Windsor|2010|           Condo|        90270|     2009|   2010-06-18|     91 VICTORIA ST|       52990.0|    87000.0|       0.61|POINT (-72.657879...|                1596.0|                    489.61|                5|                              2|
|  Rocky Hill|2011|           Condo|       100183|     2010|   2011-08-11|    27 HICKORY LANE|      141540.0|   168500.0|       0.84|POINT (-73.451804...|                 816.0|                    392.71|                4|                              5|
|   Stratford|2011|           Condo|       100354|     2010|   2011-04-29|     6 SHORELINE DR|      451500.0|   420000.0|       1.08|POINT (-73.127357...|                5140.0|                    889.29|               12|                              4|
|      Berlin|2012|           Condo|       110102|     2011|   2012-02-10|        7 QUARRY LN|      250000.0|   351450.0|       0.71|POINT (-73.411158...|                 995.0|                    471.02|                3|                              0|
|    Branford|2011|           Condo|       110047|     2011|   2011-11-21|      4 JERIMOTH DR|      178700.0|   215000.0|       0.83|POINT (-72.822317...|                2335.0|                    703.86|                5|                              4|
|        Avon|2011|           Condo|       110050|     2011|   2011-12-16|  18 HERITAGE DRIVE|      101430.0|   139000.0|       0.73|POINT (-72.875445...|                 543.0|                    296.58|                5|                              4|
|Wethersfield|2012|           Condo|        12019|     2012|   2012-10-25|       19 SPRING ST|      119400.0|   145000.0|       0.82|POINT (-72.618704...|                1300.0|                    426.68|                7|                              0|
|    Cromwell|2014|           Condo|       130091|     2013|   2014-03-10|    8 SHAWNEE COURT|      119960.0|   188500.0|       0.64|POINT (-72.669477...|                 939.0|                    628.86|                4|                              4|
|    Cromwell|2014|           Condo|       130184|     2013|   2014-07-24|      3 SOUTHBRIDGE|      371470.0|   562500.0|       0.66|POINT (-72.634517...|                 939.0|                    628.86|                4|                              4|
|      Monroe|2015|           Condo|        14055|     2014|   2015-01-07|  13 MEADOWLARK CIR|      149700.0|   190000.0|       0.79|POINT (-73.254408...|                 378.0|                    169.46|                5|                              0|
|     Enfield|2015|           Condo|       140195|     2014|   2015-02-27|        133 MEADOWS|      110230.0|   151000.0|       0.73|POINT (-72.556748...|                2533.0|                     483.4|                8|                              2|
|     Madison|2016|           Condo|       150223|     2015|   2016-05-18|7A YANKEE GLEN ROAD|      180000.0|   207000.0|       0.87|POINT (-72.596673...|                 252.0|                    122.03|                5|                              0|
|   Stratford|2015|           Condo|       150040|     2015|   2015-10-19|      5 HAWLEY GLEN|      109830.0|   140000.0|       0.78|POINT (-73.145721...|                3905.0|                    674.24|               12|                              4|
|  Plainville|2015|           Condo|       150010|     2015|   2015-10-07|        18 CROWN ST|      169610.0|   245000.0|       0.69|POINT (-73.436445...|                1528.0|                    760.86|                4|                              2|
|  Plainville|2015|           Condo|       150010|     2015|   2015-10-07|        18 CROWN ST|      169610.0|   245000.0|       0.69|POINT (-72.863367...|                1528.0|                    760.86|                4|                              2|
|  Bridgeport|2017|           Condo|       167930|     2016|   2017-09-27|       95 LANCE CIR|      105820.0|   148000.0|       0.72|POINT (-73.232772...|               14207.0|                    879.35|               29|                              8|
|  Farmington|2016|           Condo|        16010|     2016|   2016-10-05|     2 PARTRIDGE LA|      177280.0|   275000.0|       0.64|POINT (-72.888721...|                2019.0|                    738.57|                5|                              8|
|    Guilford|2016|           Condo|      1600025|     2016|   2016-10-18|     7 RIVER COLONY|       93510.0|   140000.0|       0.67|POINT (-72.693737...|                 624.0|                    252.19|                7|                              6|
|     Windsor|2017|           Condo|       160217|     2016|   2017-04-03|   116 HIGH PATH RD|       39690.0|    90000.0|       0.44|POINT (-72.652656...|                2457.0|                    751.48|                5|                              2|
+------------+----+----------------+-------------+---------+-------------+-------------------+--------------+-----------+-----------+--------------------+----------------------+--------------------------+-----------------+-------------------------------+
only showing top 20 rows

In [37]:
# Iterate over each column in the final_result DataFrame
for col in final_result.columns:
    # Count the null values and empty strings in the column
    null_count = final_result.filter(final_result[col].isNull() | (final_result[col] == "")).count()
    # Print the column name and corresponding null count
    print(f"Column: {col}\t Null Count: {null_count}")

# Count the total number of rows in the final_result DataFrame
total_count = final_result.count()
# Print the total count of rows
print(f"Total Count: {total_count}")

Column: Town	 Null Count: 0
Column: Year	 Null Count: 0
Column: Residential Type	 Null Count: 0
Column: Serial Number	 Null Count: 0
Column: List Year	 Null Count: 0
Column: Date Recorded	 Null Count: 0
Column: Address	 Null Count: 0
Column: Assessed Value	 Null Count: 0
Column: Sale Amount	 Null Count: 0
Column: Sales Ratio	 Null Count: 6
Column: Location	 Null Count: 4
Column: Total Crimes Committed	 Null Count: 0
Column: Average Crimes per 100,000	 Null Count: 0
Column: Number of Schools	 Null Count: 0
Column: Number of Healthcare facilities	 Null Count: 0
Total Count: 60996

In [38]:
# Show rows where "Sales Ratio" or "Location" is null
final_result.filter((final_result['Sales Ratio'].isNull()) | (final_result['Location'].isNull())).show()

+----------+----+----------------+-------------+---------+-------------+-------------------+--------------+-----------+-----------+--------------------+----------------------+--------------------------+-----------------+-------------------------------+
|      Town|Year|Residential Type|Serial Number|List Year|Date Recorded|            Address|Assessed Value|Sale Amount|Sales Ratio|            Location|Total Crimes Committed|Average Crimes per 100,000|Number of Schools|Number of Healthcare facilities|
+----------+----+----------------+-------------+---------+-------------+-------------------+--------------+-----------+-----------+--------------------+----------------------+--------------------------+-----------------+-------------------------------+
|    Berlin|2010|   Single Family|       900243|     2009|   2010-09-13|      405 ALLING ST|      177400.0|   125500.0|       1.41|                NULL|                1083.0|                    515.01|                3|                              0|
| Watertown|2010|   Single Family|        90247|     2009|   2010-09-20|   437 RIVERSIDE ST|      120200.0|   122000.0|       0.99|                NULL|                1311.0|                    524.26|                2|                              1|
|    Lisbon|2013|   Single Family|        12031|     2012|   2013-01-02|140 KINSMAN HILL RD|      124260.0|        0.0|       NULL|POINT (-72.03241 ...|                 408.0|                    863.58|                1|                              0|
|    Lisbon|2012|   Single Family|        12020|     2012|   2012-12-10|        129 MELL RD|      129750.0|        0.0|       NULL|POINT (-72.01156 ...|                 424.0|                     898.5|                1|                              0|
|    Lisbon|2012|   Single Family|        12002|     2012|   2012-10-04|        88 RIMEK RD|      136990.0|        0.0|       NULL|POINT (-72.02293 ...|                 424.0|                     898.5|                1|                              0|
|    Lisbon|2012|   Single Family|        12014|     2012|   2012-11-14|      19 DOGWOOD DR|      148310.0|        0.0|       NULL|POINT (-73.478060...|                 424.0|                     898.5|                1|                              0|
|    Goshen|2014|   Single Family|        13052|     2013|   2014-05-21|  12 DRESDEN CIRCLE|      170890.0|   180000.0|       0.95|                NULL|                  30.0|                     95.89|                0|                              0|
| Stratford|2012|   Single Family|       121491|     2012|   2012-11-21|   255 DEERFIELD DR|      207340.0|        0.0|       NULL|POINT (-73.13728 ...|                4580.0|                    790.27|               12|                              4|
|   Wolcott|2014|   Single Family|       140020|     2014|   2014-10-22|     100 CHICORY DR|      164290.0|   135000.0|       1.22|                NULL|                 942.0|                    533.66|                5|                              1|
|Manchester|2017|   Single Family|       170999|     2017|   2017-11-29|36 FRECHETTE CIRCLE|      227000.0|        0.0|       NULL|POINT (-72.53905 ...|                4794.0|                    756.34|                7|                              3|
+----------+----+----------------+-------------+---------+-------------+-------------------+--------------+-----------+-----------+--------------------+----------------------+--------------------------+-----------------+-------------------------------+

In [39]:
# Remove rows where "Location" is null
final_result = final_result.filter(final_result['Location'].isNotNull())

# Show the cleaned DataFrame
final_result.show()

+------------+----+----------------+-------------+---------+-------------+-------------------+--------------+-----------+-----------+--------------------+----------------------+--------------------------+-----------------+-------------------------------+
|        Town|Year|Residential Type|Serial Number|List Year|Date Recorded|            Address|Assessed Value|Sale Amount|Sales Ratio|            Location|Total Crimes Committed|Average Crimes per 100,000|Number of Schools|Number of Healthcare facilities|
+------------+----+----------------+-------------+---------+-------------+-------------------+--------------+-----------+-----------+--------------------+----------------------+--------------------------+-----------------+-------------------------------+
|        Avon|2010|           Condo|        90146|     2009|   2010-04-12|      3 WILLOW LANE|      125870.0|   168500.0|       0.75|POINT (-72.875838...|                 577.0|                    315.73|                5|                              4|
|     Windsor|2010|           Condo|        90270|     2009|   2010-06-18|     91 VICTORIA ST|       52990.0|    87000.0|       0.61|POINT (-72.657879...|                1596.0|                    489.61|                5|                              2|
|  Rocky Hill|2011|           Condo|       100183|     2010|   2011-08-11|    27 HICKORY LANE|      141540.0|   168500.0|       0.84|POINT (-73.451804...|                 816.0|                    392.71|                4|                              5|
|   Stratford|2011|           Condo|       100354|     2010|   2011-04-29|     6 SHORELINE DR|      451500.0|   420000.0|       1.08|POINT (-73.127357...|                5140.0|                    889.29|               12|                              4|
|      Berlin|2012|           Condo|       110102|     2011|   2012-02-10|        7 QUARRY LN|      250000.0|   351450.0|       0.71|POINT (-73.411158...|                 995.0|                    471.02|                3|                              0|
|    Branford|2011|           Condo|       110047|     2011|   2011-11-21|      4 JERIMOTH DR|      178700.0|   215000.0|       0.83|POINT (-72.822317...|                2335.0|                    703.86|                5|                              4|
|        Avon|2011|           Condo|       110050|     2011|   2011-12-16|  18 HERITAGE DRIVE|      101430.0|   139000.0|       0.73|POINT (-72.875445...|                 543.0|                    296.58|                5|                              4|
|Wethersfield|2012|           Condo|        12019|     2012|   2012-10-25|       19 SPRING ST|      119400.0|   145000.0|       0.82|POINT (-72.618704...|                1300.0|                    426.68|                7|                              0|
|    Cromwell|2014|           Condo|       130091|     2013|   2014-03-10|    8 SHAWNEE COURT|      119960.0|   188500.0|       0.64|POINT (-72.669477...|                 939.0|                    628.86|                4|                              4|
|    Cromwell|2014|           Condo|       130184|     2013|   2014-07-24|      3 SOUTHBRIDGE|      371470.0|   562500.0|       0.66|POINT (-72.634517...|                 939.0|                    628.86|                4|                              4|
|      Monroe|2015|           Condo|        14055|     2014|   2015-01-07|  13 MEADOWLARK CIR|      149700.0|   190000.0|       0.79|POINT (-73.254408...|                 378.0|                    169.46|                5|                              0|
|     Enfield|2015|           Condo|       140195|     2014|   2015-02-27|        133 MEADOWS|      110230.0|   151000.0|       0.73|POINT (-72.556748...|                2533.0|                     483.4|                8|                              2|
|     Madison|2016|           Condo|       150223|     2015|   2016-05-18|7A YANKEE GLEN ROAD|      180000.0|   207000.0|       0.87|POINT (-72.596673...|                 252.0|                    122.03|                5|                              0|
|   Stratford|2015|           Condo|       150040|     2015|   2015-10-19|      5 HAWLEY GLEN|      109830.0|   140000.0|       0.78|POINT (-73.145721...|                3905.0|                    674.24|               12|                              4|
|  Plainville|2015|           Condo|       150010|     2015|   2015-10-07|        18 CROWN ST|      169610.0|   245000.0|       0.69|POINT (-73.436445...|                1528.0|                    760.86|                4|                              2|
|  Plainville|2015|           Condo|       150010|     2015|   2015-10-07|        18 CROWN ST|      169610.0|   245000.0|       0.69|POINT (-72.863367...|                1528.0|                    760.86|                4|                              2|
|  Bridgeport|2017|           Condo|       167930|     2016|   2017-09-27|       95 LANCE CIR|      105820.0|   148000.0|       0.72|POINT (-73.232772...|               14207.0|                    879.35|               29|                              8|
|  Farmington|2016|           Condo|        16010|     2016|   2016-10-05|     2 PARTRIDGE LA|      177280.0|   275000.0|       0.64|POINT (-72.888721...|                2019.0|                    738.57|                5|                              8|
|    Guilford|2016|           Condo|      1600025|     2016|   2016-10-18|     7 RIVER COLONY|       93510.0|   140000.0|       0.67|POINT (-72.693737...|                 624.0|                    252.19|                7|                              6|
|     Windsor|2017|           Condo|       160217|     2016|   2017-04-03|   116 HIGH PATH RD|       39690.0|    90000.0|       0.44|POINT (-72.652656...|                2457.0|                    751.48|                5|                              2|
+------------+----+----------------+-------------+---------+-------------+-------------------+--------------+-----------+-----------+--------------------+----------------------+--------------------------+-----------------+-------------------------------+
only showing top 20 rows

In [40]:
# Replace null values in "Sales Ratio" column with 0
final_result = final_result.fillna(0, subset=['Sales Ratio'])

# Show the DataFrame after replacing null values in "Sales Ratio" column
final_result.show()

+------------+----+----------------+-------------+---------+-------------+-------------------+--------------+-----------+-----------+--------------------+----------------------+--------------------------+-----------------+-------------------------------+
|        Town|Year|Residential Type|Serial Number|List Year|Date Recorded|            Address|Assessed Value|Sale Amount|Sales Ratio|            Location|Total Crimes Committed|Average Crimes per 100,000|Number of Schools|Number of Healthcare facilities|
+------------+----+----------------+-------------+---------+-------------+-------------------+--------------+-----------+-----------+--------------------+----------------------+--------------------------+-----------------+-------------------------------+
|        Avon|2010|           Condo|        90146|     2009|   2010-04-12|      3 WILLOW LANE|      125870.0|   168500.0|       0.75|POINT (-72.875838...|                 577.0|                    315.73|                5|                              4|
|     Windsor|2010|           Condo|        90270|     2009|   2010-06-18|     91 VICTORIA ST|       52990.0|    87000.0|       0.61|POINT (-72.657879...|                1596.0|                    489.61|                5|                              2|
|  Rocky Hill|2011|           Condo|       100183|     2010|   2011-08-11|    27 HICKORY LANE|      141540.0|   168500.0|       0.84|POINT (-73.451804...|                 816.0|                    392.71|                4|                              5|
|   Stratford|2011|           Condo|       100354|     2010|   2011-04-29|     6 SHORELINE DR|      451500.0|   420000.0|       1.08|POINT (-73.127357...|                5140.0|                    889.29|               12|                              4|
|      Berlin|2012|           Condo|       110102|     2011|   2012-02-10|        7 QUARRY LN|      250000.0|   351450.0|       0.71|POINT (-73.411158...|                 995.0|                    471.02|                3|                              0|
|    Branford|2011|           Condo|       110047|     2011|   2011-11-21|      4 JERIMOTH DR|      178700.0|   215000.0|       0.83|POINT (-72.822317...|                2335.0|                    703.86|                5|                              4|
|        Avon|2011|           Condo|       110050|     2011|   2011-12-16|  18 HERITAGE DRIVE|      101430.0|   139000.0|       0.73|POINT (-72.875445...|                 543.0|                    296.58|                5|                              4|
|Wethersfield|2012|           Condo|        12019|     2012|   2012-10-25|       19 SPRING ST|      119400.0|   145000.0|       0.82|POINT (-72.618704...|                1300.0|                    426.68|                7|                              0|
|    Cromwell|2014|           Condo|       130091|     2013|   2014-03-10|    8 SHAWNEE COURT|      119960.0|   188500.0|       0.64|POINT (-72.669477...|                 939.0|                    628.86|                4|                              4|
|    Cromwell|2014|           Condo|       130184|     2013|   2014-07-24|      3 SOUTHBRIDGE|      371470.0|   562500.0|       0.66|POINT (-72.634517...|                 939.0|                    628.86|                4|                              4|
|      Monroe|2015|           Condo|        14055|     2014|   2015-01-07|  13 MEADOWLARK CIR|      149700.0|   190000.0|       0.79|POINT (-73.254408...|                 378.0|                    169.46|                5|                              0|
|     Enfield|2015|           Condo|       140195|     2014|   2015-02-27|        133 MEADOWS|      110230.0|   151000.0|       0.73|POINT (-72.556748...|                2533.0|                     483.4|                8|                              2|
|     Madison|2016|           Condo|       150223|     2015|   2016-05-18|7A YANKEE GLEN ROAD|      180000.0|   207000.0|       0.87|POINT (-72.596673...|                 252.0|                    122.03|                5|                              0|
|   Stratford|2015|           Condo|       150040|     2015|   2015-10-19|      5 HAWLEY GLEN|      109830.0|   140000.0|       0.78|POINT (-73.145721...|                3905.0|                    674.24|               12|                              4|
|  Plainville|2015|           Condo|       150010|     2015|   2015-10-07|        18 CROWN ST|      169610.0|   245000.0|       0.69|POINT (-73.436445...|                1528.0|                    760.86|                4|                              2|
|  Plainville|2015|           Condo|       150010|     2015|   2015-10-07|        18 CROWN ST|      169610.0|   245000.0|       0.69|POINT (-72.863367...|                1528.0|                    760.86|                4|                              2|
|  Bridgeport|2017|           Condo|       167930|     2016|   2017-09-27|       95 LANCE CIR|      105820.0|   148000.0|       0.72|POINT (-73.232772...|               14207.0|                    879.35|               29|                              8|
|  Farmington|2016|           Condo|        16010|     2016|   2016-10-05|     2 PARTRIDGE LA|      177280.0|   275000.0|       0.64|POINT (-72.888721...|                2019.0|                    738.57|                5|                              8|
|    Guilford|2016|           Condo|      1600025|     2016|   2016-10-18|     7 RIVER COLONY|       93510.0|   140000.0|       0.67|POINT (-72.693737...|                 624.0|                    252.19|                7|                              6|
|     Windsor|2017|           Condo|       160217|     2016|   2017-04-03|   116 HIGH PATH RD|       39690.0|    90000.0|       0.44|POINT (-72.652656...|                2457.0|                    751.48|                5|                              2|
+------------+----+----------------+-------------+---------+-------------+-------------------+--------------+-----------+-----------+--------------------+----------------------+--------------------------+-----------------+-------------------------------+
only showing top 20 rows

In [41]:
# Iterate over each column in the final_result DataFrame
for col in final_result.columns:
    # Count the null values and empty strings in the column
    null_count = final_result.filter(final_result[col].isNull() | (final_result[col] == "")).count()
    # Print the column name and corresponding null count
    print(f"Column: {col}\t Null Count: {null_count}")

# Count the total number of rows in the final_result DataFrame
total_count = final_result.count()
# Print the total count of rows
print(f"Total Count: {total_count}")

Column: Town	 Null Count: 0
Column: Year	 Null Count: 0
Column: Residential Type	 Null Count: 0
Column: Serial Number	 Null Count: 0
Column: List Year	 Null Count: 0
Column: Date Recorded	 Null Count: 0
Column: Address	 Null Count: 0
Column: Assessed Value	 Null Count: 0
Column: Sale Amount	 Null Count: 0
Column: Sales Ratio	 Null Count: 0
Column: Location	 Null Count: 0
Column: Total Crimes Committed	 Null Count: 0
Column: Average Crimes per 100,000	 Null Count: 0
Column: Number of Schools	 Null Count: 0
Column: Number of Healthcare facilities	 Null Count: 0
Total Count: 60992

In [ ]:
# Repartition the DataFrame to have only one partition
final_result = final_result.repartition(1)

# Write the DataFrame to a new CSV file
final_result.write.csv("Combined(1).csv", header=True)

# Download the CSV file to the system
from google.colab import files
files.download("Combined(1).csv")