In [3]:
!pip install pyspark

Requirement already satisfied: pyspark in /usr/local/lib/python3.10/dist-packages (3.5.1)
Requirement already satisfied: py4j==0.10.9.7 in /usr/local/lib/python3.10/dist-packages (from pyspark) (0.10.9.7)

In [4]:
from pyspark.sql import SparkSession
spark = SparkSession.builder.getOrCreate()
df = spark.read.format("csv").option("header", True).load("/content/AIT664-Group001-Connecticut-RealEstateData-Preprocessed-Part01.csv")
print(df.dtypes)
df.printSchema()

[('Serial Number', 'string'), ('List Year', 'string'), ('Date Recorded', 'string'), ('Town', 'string'), ('Address', 'string'), ('Assessed Value', 'string'), ('Sale Amount', 'string'), ('Sales Ratio', 'string'), ('Property Type', 'string'), ('Residential Type', 'string'), ('Non Use Code', 'string'), ('Assessor Remarks', 'string'), ('OPM remarks', 'string'), ('Location', 'string')]
root
 |-- Serial Number: string (nullable = true)
 |-- List Year: string (nullable = true)
 |-- Date Recorded: string (nullable = true)
 |-- Town: string (nullable = true)
 |-- Address: string (nullable = true)
 |-- Assessed Value: string (nullable = true)
 |-- Sale Amount: string (nullable = true)
 |-- Sales Ratio: string (nullable = true)
 |-- Property Type: string (nullable = true)
 |-- Residential Type: string (nullable = true)
 |-- Non Use Code: string (nullable = true)
 |-- Assessor Remarks: string (nullable = true)
 |-- OPM remarks: string (nullable = true)
 |-- Location: string (nullable = true)

In [5]:
# Define a list of desired property types
desired_types = ["Residential", "Condo", "Single Family", "Two Family", "Three Family", "Four Family"]
# Filter the DataFrame based on the list
df = df.filter(df["Property Type"].isin(desired_types))
print(df.count())

243680

In [6]:
print(df.distinct().count())

242714

In [7]:
for col in df.columns:
    null_count = df.filter(df[col].isNull() | (df[col] == "")).count()
    print(f"Column: {col}\t Null Count: {null_count}")
total_count = df.count()
print(f"Total Count: {total_count}")

Column: Serial Number	 Null Count: 0
Column: List Year	 Null Count: 0
Column: Date Recorded	 Null Count: 0
Column: Town	 Null Count: 0
Column: Address	 Null Count: 0
Column: Assessed Value	 Null Count: 0
Column: Sale Amount	 Null Count: 0
Column: Sales Ratio	 Null Count: 0
Column: Property Type	 Null Count: 0
Column: Residential Type	 Null Count: 0
Column: Non Use Code	 Null Count: 180806
Column: Assessor Remarks	 Null Count: 198506
Column: OPM remarks	 Null Count: 239027
Column: Location	 Null Count: 15
Total Count: 243680

In [8]:
# Remove columns Location, OPM remarks, Assessor Remarks from the DataFrame
df = df.drop("Non Use Code","Property Type","OPM remarks", "Assessor Remarks")

In [9]:
df = df.filter(df.Address.isNotNull())
print(df.count())

243680

In [10]:
from pyspark.sql.functions import to_date, date_format
# Convert Year column to integer type
df = df.withColumn("List Year", df["List Year"].cast("integer"))
# Convert Date Recorded column to date format
df = df.withColumn("Date Recorded", to_date(df["Date Recorded"], "M/d/yyyy"))
df = df.withColumn("Date Recorded", date_format("Date Recorded", "MM/dd/yyyy"))
# Convert Assessed Value column to floating point number
df = df.withColumn("Assessed Value", df["Assessed Value"].cast("double"))
# Convert Sale Amount column to floating point number
df = df.withColumn("Sale Amount", df["Sale Amount"].cast("double"))
# Convert Sales Ratio column to floating point number
df = df.withColumn("Sales Ratio", df["Sales Ratio"].cast("double "))
df.show()

+-------------+---------+-------------+----------+--------------------+--------------+-----------+-----------+----------------+--------------------+
|Serial Number|List Year|Date Recorded|      Town|             Address|Assessed Value|Sale Amount|Sales Ratio|Residential Type|            Location|
+-------------+---------+-------------+----------+--------------------+--------------+-----------+-----------+----------------+--------------------+
|        20002|     2020|   10/02/2020|   Ashford|     390 TURNPIKE RD|      253000.0|   430000.0|     0.5883|   Single Family|POINT (-72.20731 ...|
|       210317|     2021|   07/05/2022|      Avon|     53 COTSWOLD WAY|      329730.0|   805000.0|     0.4096|   Single Family|POINT (-72.846365...|
|       200212|     2020|   03/09/2021|      Avon|    5 CHESTNUT DRIVE|      130400.0|   179900.0|     0.7248|           Condo|POINT (-72.875940...|
|       200243|     2020|   04/13/2021|      Avon|111 NORTHINGTON D...|      619290.0|   890000.0|     0.6958|   Single Family|POINT (-72.902561...|
|       200377|     2020|   07/02/2021|      Avon|  70 FAR HILLS DRIVE|      862330.0|  1447500.0|     0.5957|   Single Family|POINT (-72.805994...|
|       200109|     2020|   12/09/2020|      Avon|  57 FAR HILLS DRIVE|      847520.0|  1250000.0|      0.678|   Single Family|POINT (-72.805611...|
|      2020180|     2020|   03/01/2021|    Berlin| 1539 FARMINGTON AVE|      234200.0|   130000.0|     1.8015|      Two Family|POINT (-72.746275...|
|       210045|     2021|   04/29/2022| Bethlehem|   89 LONG MEADOW RD|      229900.0|   561850.0|     0.4091|   Single Family|POINT (-73.212579...|
|       210101|     2021|   12/20/2021|Bloomfield|      43 LEDYARD AVE|      111580.0|   209000.0|     0.5338|   Single Family|POINT (-72.690802...|
|        20139|     2020|   12/16/2020|    Bethel|   16 DEEPWOOD DRIVE|      171360.0|   335000.0|     0.5115|   Single Family|POINT (-73.405272...|
|       200086|     2020|   08/10/2021| Bethlehem|      39 WOODLAND RD|      168900.0|   352000.0|     0.4798|   Single Family|POINT (-73.18197 ...|
|      2000381|     2020|   09/13/2021|Bloomfield|      9 SADDLE RIDGE|      163730.0|   250000.0|     0.6549|           Condo|POINT (-72.775153...|
|       210035|     2021|   10/20/2021|  Branford|   25 QUARRY DOCK RD|      208100.0|   448000.0|     0.4645|           Condo|POINT (-72.815906...|
|       210748|     2021|   01/14/2022|Bridgeport|  360 VINCELLETTE ST|      160776.0|   315000.0|     0.5104|   Single Family|POINT (-73.219385...|
|       201295|     2020|   09/09/2021|   Bristol|         609 CAMP ST|      144340.0|   249900.0|     0.5775|   Single Family|POINT (-72.892727...|
|       200032|     2020|   10/08/2020|   Bristol|      9 LESLIE COURT|       94920.0|   155000.0|     0.6123|   Single Family|POINT (-72.960105...|
|       211762|     2021|   06/21/2022|Bridgeport|     38 RIVERVIEW DR|       86990.0|   247000.0|     0.3521|           Condo|POINT (-73.223086...|
|       200354|     2020|   12/29/2020|   Bristol|      391 TIFFANY LA|      173740.0|   299000.0|      0.581|   Single Family|POINT (-72.982110...|
|       200527|     2020|   03/01/2021|   Bristol|          25 WARD ST|       85680.0|   183000.0|     0.4681|      Two Family|POINT (-72.949245...|
|       201212|     2020|   08/23/2021|   Bristol|     8 JENNINGS TERR|       88060.0|    91000.0|     0.9676|   Single Family|POINT (-72.952319...|
+-------------+---------+-------------+----------+--------------------+--------------+-----------+-----------+----------------+--------------------+
only showing top 20 rows

In [11]:
from pyspark.sql.functions import round, mean, when
# Filter rows where Assessed Value is 0
zero_assessed_value = df.filter(df["Assessed Value"] == 0)
# Group records by Town and calculate the average Assessed Value
avg_assessed_value = df.groupby(["Town", "Residential Type"]).agg(round(mean(df["Assessed Value"]), 0).alias("Avg Assessed Value"))
display(avg_assessed_value)
# Join the original DataFrame with the average Assessed Value DataFrame
df = df.join(avg_assessed_value, on=["Town", "Residential Type"], how="left")
# Replace 0 values in Assessed Value column with the average Assessed Value
df = df.withColumn("Assessed Value", when(df["Assessed Value"] == 0, df["Avg Assessed Value"]).otherwise(df["Assessed Value"]))
# Drop the Avg Assessed Value column
df = df.drop("Avg Assessed Value")
display(df)

DataFrame[Town: string, Residential Type: string, Avg Assessed Value: double]

DataFrame[Town: string, Residential Type: string, Serial Number: string, List Year: int, Date Recorded: string, Address: string, Assessed Value: double, Sale Amount: double, Sales Ratio: double, Location: string]

In [12]:
df = df.withColumn("Sales Ratio", round(df["Assessed Value"] / df["Sale Amount"],2))
display(df.head(5))

[Row(Town='Ashford', Residential Type='Single Family', Serial Number='20002', List Year=2020, Date Recorded='10/02/2020', Address='390 TURNPIKE RD', Assessed Value=253000.0, Sale Amount=430000.0, Sales Ratio=0.59, Location='POINT (-72.20731 41.9177359)'),
 Row(Town='Avon', Residential Type='Single Family', Serial Number='210317', List Year=2021, Date Recorded='07/05/2022', Address='53 COTSWOLD WAY', Assessed Value=329730.0, Sale Amount=805000.0, Sales Ratio=0.41, Location='POINT (-72.846365959 41.781677018)'),
 Row(Town='Avon', Residential Type='Condo', Serial Number='200212', List Year=2020, Date Recorded='03/09/2021', Address='5 CHESTNUT DRIVE', Assessed Value=130400.0, Sale Amount=179900.0, Sales Ratio=0.72, Location='POINT (-72.8759407 41.7710138)'),
 Row(Town='Avon', Residential Type='Single Family', Serial Number='200243', List Year=2020, Date Recorded='04/13/2021', Address='111 NORTHINGTON DRIVE', Assessed Value=619290.0, Sale Amount=890000.0, Sales Ratio=0.7, Location='POINT (-72.9025616 41.7904684)'),
 Row(Town='Avon', Residential Type='Single Family', Serial Number='200377', List Year=2020, Date Recorded='07/02/2021', Address='70 FAR HILLS DRIVE', Assessed Value=862330.0, Sale Amount=1447500.0, Sales Ratio=0.6, Location='POINT (-72.8059942 41.7972347)')]

In [13]:
df = df.filter(df["Town"] != "***Unknown***")

In [14]:
df.dropDuplicates()

DataFrame[Town: string, Residential Type: string, Serial Number: string, List Year: int, Date Recorded: string, Address: string, Assessed Value: double, Sale Amount: double, Sales Ratio: double, Location: string]

In [16]:
print(df.distinct().count())

242714

In [18]:
import pandas as pd
pandas_df = df.toPandas()
from google.colab import files
pandas_df.to_csv('AIT664-Group001-Connecticut-RealEstateData-Preprocessed-Part02.csv', index=False)
files.download('AIT664-Group001-Connecticut-RealEstateData-Preprocessed-Part02.csv')