In [1]:
!pip install pyspark

Collecting pyspark
  Downloading pyspark-3.5.1.tar.gz (317.0 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 317.0/317.0 MB 2.9 MB/s eta 0:00:00
  Preparing metadata (setup.py) ... done
Requirement already satisfied: py4j==0.10.9.7 in /usr/local/lib/python3.10/dist-packages (from pyspark) (0.10.9.7)
Building wheels for collected packages: pyspark
  Building wheel for pyspark (setup.py) ... done
  Created wheel for pyspark: filename=pyspark-3.5.1-py2.py3-none-any.whl size=317488491 sha256=235795671d1386ec564b6eed65d3242dda88a1c025763043b423f6dda7a9bf4f
  Stored in directory: /root/.cache/pip/wheels/80/1d/60/2c256ed38dddce2fdd93be545214a63e02fbd8d74fb0b7f3a6
Successfully built pyspark
Installing collected packages: pyspark
Successfully installed pyspark-3.5.1

In [2]:
from pyspark.sql import SparkSession
from pyspark.sql.functions import year, count, col
import matplotlib.pyplot as plt
from pyspark.sql.functions import to_date, date_format
import pandas as pd
import numpy as np
from scipy import stats

In [3]:
from pyspark.sql import SparkSession
spark = SparkSession.builder.getOrCreate()
df = spark.read.format("csv").option("header", True).load("/content/School_Updated.csv")
print(df.dtypes)
df.printSchema()

[('School ID', 'string'), ('District Name', 'string'), ('School Name', 'string'), ('Organization Type', 'string'), ('Organization Code', 'string'), ('Address', 'string'), ('Town', 'string'), ('Zipcode', 'string'), ('Phone', 'string'), ('Student Open Date', 'string'), ('State', 'string'), ('geometry', 'string')]
root
 |-- School ID: string (nullable = true)
 |-- District Name: string (nullable = true)
 |-- School Name: string (nullable = true)
 |-- Organization Type: string (nullable = true)
 |-- Organization Code: string (nullable = true)
 |-- Address: string (nullable = true)
 |-- Town: string (nullable = true)
 |-- Zipcode: string (nullable = true)
 |-- Phone: string (nullable = true)
 |-- Student Open Date: string (nullable = true)
 |-- State: string (nullable = true)
 |-- geometry: string (nullable = true)

In [4]:
df = df.withColumn("Student_Open_Date", to_date(df["Student Open Date"], "MM-dd-yyyy")) \
       .withColumn("Open_Year", year("Student_Open_Date"))

# Show the updated DataFrame
df.show()

+---------+--------------------+--------------------+--------------------+-----------------+--------------------+----------+-------+------------+-----------------+-----+--------------------+-----------------+---------+
|School ID|       District Name|         School Name|   Organization Type|Organization Code|             Address|      Town|Zipcode|       Phone|Student Open Date|State|            geometry|Student_Open_Date|Open_Year|
+---------+--------------------+--------------------+--------------------+-----------------+--------------------+----------+-------+------------+-----------------+-----+--------------------+-----------------+---------+
|        0|Vernon School Dis...| Skinner Road School|      Public Schools|          1461011|      90 Skinner Rd.|    Vernon|   6066|860-870-6180|       01-07-1984|   CT|POINT (-72.491502...|       1984-01-07|     1984|
|        1|Department of Soc...|Department of Soc...|      State Agencies|          3320015| 25 Sigourney Street|  Hartford|   6106|860-424-5129|       01-07-2000|   CT|POINT (-72.694626...|       2000-01-07|     2000|
|        2|Norwalk School Di...|West Rocks Middle...|      Public Schools|          1035411|  81 West Rocks Road|   Norwalk|   6851|203-899-2970|       01-07-1984|   CT|POINT (-73.416113...|       1984-01-07|     1984|
|        4|Bridgeport School...|Jettie S. Tisdale...|      Public Schools|           152211|250 Hollister Avenue|Bridgeport|   6607|203-576-8037|       01-07-1984|   CT|POINT (-73.160234...|       1984-01-07|     1984|
|        5|Regional School D...|Amity Middle Scho...|    Regional Schools|          2055212|      100 Ohman Ave.|    Orange|   6477|203-392-3200|       01-07-2002|   CT|POINT (-73.006023...|       2002-01-07|     2002|
|        6|Stamford School D...|Westhill High School|      Public Schools|          1356311|     125 Roxbury Rd.|  Stamford|   6902|203-977-4477|       01-07-1984|   CT|POINT (-73.565552...|       1984-01-07|     1984|
|        7|Norwalk School Di...|Concord Magnet Sc...|      Public Schools|          1030311|     21 Hunters Lane|   Norwalk|   6850|203-899-2840|       01-07-1984|   CT|POINT (-73.442092...|       1984-01-07|     1984|
|        8|Woodbridge School...|Woodbridge School...|Public School Dis...|          1670011|     40 Beecher Road|Woodbridge|   6525|203-387-6631|       01-07-1996|   CT|POINT (-73.008984...|       1996-01-07|     1996|
|        9|Hartford School D...|Hartford PreKinde...|      Public Schools|           641311|   85 Edwards Street|  Hartford|   6120|860-695-5820|       01-07-2013|   CT|POINT (-72.682106...|       2013-01-07|     2013|
|       10|Colchester School...|Colchester Elemen...|      Public Schools|           280411|  315 Halls Hill Rd.|Colchester|   6415|860-537-0717|       01-07-2006|   CT|POINT (-72.316312...|       2006-01-07|     2006|
|       11|Unified School Di...|Garner Correction...|State Agency Faci...|          3361915|   50 Nunnawauk Road|   Newtown|   6470|203-270-2897|       01-07-2000|   CT|POINT (-73.272268...|       2000-01-07|     2000|
|       12|Somers School Dis...|  Somers High School|      Public Schools|          1296111|  5 Vision Boulevard|    Somers|   6071|860-749-2270|       01-07-1984|   CT|POINT (-72.458666...|       1984-01-07|     1984|
|       13|Brookfield School...|Brookfield School...|Public School Dis...|           180011|     100 Pocono Road|Brookfield|   6804|203-775-7700|       01-07-1996|   CT|POINT (-73.398896...|       1996-01-07|     1996|
|       14|Milford School Di...|J. F. Kennedy School|      Public Schools|           841911|       404 West Ave.|   Milford|   6460|203-783-3568|       01-07-1984|   CT|POINT (-73.088984...|       1984-01-07|     1984|
|       15|Capitol Region Ed...|Capitol Region Ed...|Regional Educatio...|          2410014|111 Charter Oak A...|  Hartford|   6106|860-524-4063|       01-07-2000|   CT|POINT (-72.668350...|       2000-01-07|     2000|
|       16|Hamden School Dis...|    Bear Path School|      Public Schools|           621211|         10 Kirk Rd.|    Hamden|   6514|203-407-2015|       01-07-1984|   CT|POINT (-72.927365...|       1984-01-07|     1984|
|       17|The Gilbert Schoo...|  The Gilbert School|Endowed and Incor...|          9026122|   200 Williams Ave.|   Winsted|   6098|860-379-8521|       01-07-2000|   CT|POINT (-73.068154...|       2000-01-07|     2000|
|       18|Tolland School Di...|Birch Grove Prima...|      Public Schools|          1420111|       247 Rhodes RD|   Tolland|   6084|860-870-6750|       01-07-1999|   CT|POINT (-72.334141...|       1999-01-07|     1999|
|       19|Waterbury School ...|Maloney Interdist...|      Public Schools|          1513111|   233 South Elm St.| Waterbury|   6706|203-574-8162|       01-07-1996|   CT|POINT (-73.037693...|       1996-01-07|     1996|
|       20|Guilford School D...|Guilford Lakes Sc...|      Public Schools|           600211|       40 Maupas Rd.|  Guilford|   6437|203-453-5201|       01-07-1984|   CT|POINT (-72.688775...|       1984-01-07|     1984|
+---------+--------------------+--------------------+--------------------+-----------------+--------------------+----------+-------+------------+-----------------+-----+--------------------+-----------------+---------+
only showing top 20 rows

In [5]:
df.printSchema()

root
 |-- School ID: string (nullable = true)
 |-- District Name: string (nullable = true)
 |-- School Name: string (nullable = true)
 |-- Organization Type: string (nullable = true)
 |-- Organization Code: string (nullable = true)
 |-- Address: string (nullable = true)
 |-- Town: string (nullable = true)
 |-- Zipcode: string (nullable = true)
 |-- Phone: string (nullable = true)
 |-- Student Open Date: string (nullable = true)
 |-- State: string (nullable = true)
 |-- geometry: string (nullable = true)
 |-- Student_Open_Date: date (nullable = true)
 |-- Open_Year: integer (nullable = true)

In [6]:
df = df.drop("Student Open Date")

df.printSchema()

# Show the updated DataFrame
df.show()

root
 |-- School ID: string (nullable = true)
 |-- District Name: string (nullable = true)
 |-- School Name: string (nullable = true)
 |-- Organization Type: string (nullable = true)
 |-- Organization Code: string (nullable = true)
 |-- Address: string (nullable = true)
 |-- Town: string (nullable = true)
 |-- Zipcode: string (nullable = true)
 |-- Phone: string (nullable = true)
 |-- State: string (nullable = true)
 |-- geometry: string (nullable = true)
 |-- Student_Open_Date: date (nullable = true)
 |-- Open_Year: integer (nullable = true)

+---------+--------------------+--------------------+--------------------+-----------------+--------------------+----------+-------+------------+-----+--------------------+-----------------+---------+
|School ID|       District Name|         School Name|   Organization Type|Organization Code|             Address|      Town|Zipcode|       Phone|State|            geometry|Student_Open_Date|Open_Year|
+---------+--------------------+--------------------+--------------------+-----------------+--------------------+----------+-------+------------+-----+--------------------+-----------------+---------+
|        0|Vernon School Dis...| Skinner Road School|      Public Schools|          1461011|      90 Skinner Rd.|    Vernon|   6066|860-870-6180|   CT|POINT (-72.491502...|       1984-01-07|     1984|
|        1|Department of Soc...|Department of Soc...|      State Agencies|          3320015| 25 Sigourney Street|  Hartford|   6106|860-424-5129|   CT|POINT (-72.694626...|       2000-01-07|     2000|
|        2|Norwalk School Di...|West Rocks Middle...|      Public Schools|          1035411|  81 West Rocks Road|   Norwalk|   6851|203-899-2970|   CT|POINT (-73.416113...|       1984-01-07|     1984|
|        4|Bridgeport School...|Jettie S. Tisdale...|      Public Schools|           152211|250 Hollister Avenue|Bridgeport|   6607|203-576-8037|   CT|POINT (-73.160234...|       1984-01-07|     1984|
|        5|Regional School D...|Amity Middle Scho...|    Regional Schools|          2055212|      100 Ohman Ave.|    Orange|   6477|203-392-3200|   CT|POINT (-73.006023...|       2002-01-07|     2002|
|        6|Stamford School D...|Westhill High School|      Public Schools|          1356311|     125 Roxbury Rd.|  Stamford|   6902|203-977-4477|   CT|POINT (-73.565552...|       1984-01-07|     1984|
|        7|Norwalk School Di...|Concord Magnet Sc...|      Public Schools|          1030311|     21 Hunters Lane|   Norwalk|   6850|203-899-2840|   CT|POINT (-73.442092...|       1984-01-07|     1984|
|        8|Woodbridge School...|Woodbridge School...|Public School Dis...|          1670011|     40 Beecher Road|Woodbridge|   6525|203-387-6631|   CT|POINT (-73.008984...|       1996-01-07|     1996|
|        9|Hartford School D...|Hartford PreKinde...|      Public Schools|           641311|   85 Edwards Street|  Hartford|   6120|860-695-5820|   CT|POINT (-72.682106...|       2013-01-07|     2013|
|       10|Colchester School...|Colchester Elemen...|      Public Schools|           280411|  315 Halls Hill Rd.|Colchester|   6415|860-537-0717|   CT|POINT (-72.316312...|       2006-01-07|     2006|
|       11|Unified School Di...|Garner Correction...|State Agency Faci...|          3361915|   50 Nunnawauk Road|   Newtown|   6470|203-270-2897|   CT|POINT (-73.272268...|       2000-01-07|     2000|
|       12|Somers School Dis...|  Somers High School|      Public Schools|          1296111|  5 Vision Boulevard|    Somers|   6071|860-749-2270|   CT|POINT (-72.458666...|       1984-01-07|     1984|
|       13|Brookfield School...|Brookfield School...|Public School Dis...|           180011|     100 Pocono Road|Brookfield|   6804|203-775-7700|   CT|POINT (-73.398896...|       1996-01-07|     1996|
|       14|Milford School Di...|J. F. Kennedy School|      Public Schools|           841911|       404 West Ave.|   Milford|   6460|203-783-3568|   CT|POINT (-73.088984...|       1984-01-07|     1984|
|       15|Capitol Region Ed...|Capitol Region Ed...|Regional Educatio...|          2410014|111 Charter Oak A...|  Hartford|   6106|860-524-4063|   CT|POINT (-72.668350...|       2000-01-07|     2000|
|       16|Hamden School Dis...|    Bear Path School|      Public Schools|           621211|         10 Kirk Rd.|    Hamden|   6514|203-407-2015|   CT|POINT (-72.927365...|       1984-01-07|     1984|
|       17|The Gilbert Schoo...|  The Gilbert School|Endowed and Incor...|          9026122|   200 Williams Ave.|   Winsted|   6098|860-379-8521|   CT|POINT (-73.068154...|       2000-01-07|     2000|
|       18|Tolland School Di...|Birch Grove Prima...|      Public Schools|          1420111|       247 Rhodes RD|   Tolland|   6084|860-870-6750|   CT|POINT (-72.334141...|       1999-01-07|     1999|
|       19|Waterbury School ...|Maloney Interdist...|      Public Schools|          1513111|   233 South Elm St.| Waterbury|   6706|203-574-8162|   CT|POINT (-73.037693...|       1996-01-07|     1996|
|       20|Guilford School D...|Guilford Lakes Sc...|      Public Schools|           600211|       40 Maupas Rd.|  Guilford|   6437|203-453-5201|   CT|POINT (-72.688775...|       1984-01-07|     1984|
+---------+--------------------+--------------------+--------------------+-----------------+--------------------+----------+-------+------------+-----+--------------------+-----------------+---------+
only showing top 20 rows

In [7]:
schools_per_town = df.groupBy("Town").agg(count("School Name").alias("Number_of_Schools"))

# Show the result
schools_per_town.show()

+-------------------+-----------------+
|               Town|Number_of_Schools|
+-------------------+-----------------+
|        Middlefield|                2|
|         Plainfield|                4|
|      Old Greenwich|                1|
|          Bethlehem|                1|
|   Stafford Springs|                4|
|             Monroe|                6|
|         Litchfield|                3|
|         Brookfield|                5|
|North Grosvenordale|                3|
|           Sterling|                2|
|             Bolton|                3|
|      Windsor Locks|                5|
|         Woodbridge|                4|
|            Wolcott|                6|
|           Cromwell|                5|
|     North Franklin|                2|
|        New Milford|                6|
|           Guilford|                7|
|         Manchester|               13|
|          Thomaston|                4|
+-------------------+-----------------+
only showing top 20 rows

In [35]:
public_schools_df = df.filter(df["Organization Type"] == "Public Schools")

# Show the filtered DataFrame
public_schools_df.show()

+---------+--------------------+--------------------+-----------------+-----------------+--------------------+-------------+-------+------------+-----+--------------------+-----------------+---------+
|School ID|       District Name|         School Name|Organization Type|Organization Code|             Address|         Town|Zipcode|       Phone|State|            geometry|Student_Open_Date|Open_Year|
+---------+--------------------+--------------------+-----------------+-----------------+--------------------+-------------+-------+------------+-----+--------------------+-----------------+---------+
|        0|Vernon School Dis...| Skinner Road School|   Public Schools|          1461011|      90 Skinner Rd.|       Vernon|   6066|860-870-6180|   CT|POINT (-72.491502...|       1984-01-07|     1984|
|        2|Norwalk School Di...|West Rocks Middle...|   Public Schools|          1035411|  81 West Rocks Road|      Norwalk|   6851|203-899-2970|   CT|POINT (-73.416113...|       1984-01-07|     1984|
|        4|Bridgeport School...|Jettie S. Tisdale...|   Public Schools|           152211|250 Hollister Avenue|   Bridgeport|   6607|203-576-8037|   CT|POINT (-73.160234...|       1984-01-07|     1984|
|        6|Stamford School D...|Westhill High School|   Public Schools|          1356311|     125 Roxbury Rd.|     Stamford|   6902|203-977-4477|   CT|POINT (-73.565552...|       1984-01-07|     1984|
|        7|Norwalk School Di...|Concord Magnet Sc...|   Public Schools|          1030311|     21 Hunters Lane|      Norwalk|   6850|203-899-2840|   CT|POINT (-73.442092...|       1984-01-07|     1984|
|        9|Hartford School D...|Hartford PreKinde...|   Public Schools|           641311|   85 Edwards Street|     Hartford|   6120|860-695-5820|   CT|POINT (-72.682106...|       2013-01-07|     2013|
|       10|Colchester School...|Colchester Elemen...|   Public Schools|           280411|  315 Halls Hill Rd.|   Colchester|   6415|860-537-0717|   CT|POINT (-72.316312...|       2006-01-07|     2006|
|       12|Somers School Dis...|  Somers High School|   Public Schools|          1296111|  5 Vision Boulevard|       Somers|   6071|860-749-2270|   CT|POINT (-72.458666...|       1984-01-07|     1984|
|       14|Milford School Di...|J. F. Kennedy School|   Public Schools|           841911|       404 West Ave.|      Milford|   6460|203-783-3568|   CT|POINT (-73.088984...|       1984-01-07|     1984|
|       16|Hamden School Dis...|    Bear Path School|   Public Schools|           621211|         10 Kirk Rd.|       Hamden|   6514|203-407-2015|   CT|POINT (-72.927365...|       1984-01-07|     1984|
|       18|Tolland School Di...|Birch Grove Prima...|   Public Schools|          1420111|       247 Rhodes RD|      Tolland|   6084|860-870-6750|   CT|POINT (-72.334141...|       1999-01-07|     1999|
|       19|Waterbury School ...|Maloney Interdist...|   Public Schools|          1513111|   233 South Elm St.|    Waterbury|   6706|203-574-8162|   CT|POINT (-73.037693...|       1996-01-07|     1996|
|       20|Guilford School D...|Guilford Lakes Sc...|   Public Schools|           600211|       40 Maupas Rd.|     Guilford|   6437|203-453-5201|   CT|POINT (-72.688775...|       1984-01-07|     1984|
|       21|Norwalk School Di...|Brookside Element...|   Public Schools|          1030211| 382 Highland Avenue|      Norwalk|   6854|203-899-2830|   CT|POINT (-73.435601...|       1984-01-07|     1984|
|       23|Ellington School ...|Ellington Middle ...|   Public Schools|           485111|46 Middle Butcher...|    Ellington|   6029|860-896-2339|   CT|POINT (-72.459672...|       1984-01-07|     1984|
|       24|Waterbury School ...|   Bucks Hill School|   Public Schools|          1510511|  330 Bucks Hill Rd.|    Waterbury|   6704|203-574-8182|   CT|POINT (-73.028632...|       1984-01-07|     1984|
|       27|West Haven School...|Harry M. Bailey M...|   Public Schools|          1565111|      106 Morgan Ln.|   West Haven|   6516|203-937-4380|   CT|POINT (-72.978413...|       1984-01-07|     1984|
|       28|Middletown School...|       Wesley School|   Public Schools|           831411|10 Wesleyan Hills...|   Middletown|   6457|860-344-0381|   CT|POINT (-72.665725...|       1984-01-07|     1984|
|       29|East Lyme School ...|Niantic Center Sc...|   Public Schools|           450211|     7 West Main St.|      Niantic|   6357|860-739-3961|   CT|POINT (-72.203812...|       1984-01-07|     1984|
|       30|West Hartford Sch...|Charter Oak Inter...|   Public Schools|          1550511|    425 Oakwood Ave.|West Hartford|   6110|860-233-8506|   CT|POINT (-72.721963...|       1984-01-07|     1984|
+---------+--------------------+--------------------+-----------------+-----------------+--------------------+-------------+-------+------------+-----+--------------------+-----------------+---------+
only showing top 20 rows

In [ ]:
# Write the DataFrame to a new CSV file
df.write.csv("Health_Updated(1).csv",header=True)

# Download the CSV file to the system
from google.colab import files
files.download("Health_Updated(1).csv")